<div class="table-responsive" id="deko-payments-list" data-url="{% url 'stats:unpayed_deko' %}">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" class="border-top-0">Faktura</th>
                <th scope="col" class="border-top-0">Data wystawienia</th>
                <th scope="col" class="border-top-0">Kwota brutto</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-right border-right-0">Suma:</td>
                <td id="deko-sum" class="border-left-0"></td>
            </tr>
        </tfoot>
    </table>
</div>