<div class="table-responsive" id="due-payments-list" data-url="{% url 'stats:due_payments' %}">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" class="border-top-0">Faktura</th>
                <th scope="col" class="border-top-0">Kontrahent</th>
                <th scope="col" class="border-top-0">Kwota brutto</th>
                <th scope="col" class="border-top-0">Termin płatności</th>
                <th scope="col" class="border-top-0" style="width: 7%;">Akcje</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>