.react-datepicker__day--outside-month {
    color: #b5b5b5;
}

.react-datepicker__day--selected {
    color: #ffffff;
}

.react-datepicker-wrapper {
    display: block;
}

.big-date .react-datepicker {
    display: block;
}

.big-date .react-datepicker__month-container {
    float: none;
}

.big-date .react-datepicker__day-name,
.big-date .react-datepicker__day,
.big-date .react-datepicker__time-name {
    width: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.5rem;
}

.big-date .react-datepicker__current-month,
.big-date .react-datepicker-time__header,
.big-date .react-datepicker-year-header,
.big-date .react-datepicker__header__dropdown,
.big-date .react-datepicker__month-dropdown,
.big-date .react-datepicker__year-dropdown,
.big-date .react-datepicker__today-button {
    font-size: 1.2rem;
}

.big-date .react-datepicker__month-option,
.big-date .react-datepicker__year-option,
.big-date .react-datepicker__today-button {
    padding: 0.8rem;
}

.big-date .react-datepicker__month-read-view,
.big-date .react-datepicker__year-read-view {
    padding: 0.6rem;
    padding-left: 0;
    border: 1px solid #b5b5b5;
}

.big-date .react-datepicker__month-read-view--down-arrow,
.big-date .react-datepicker__year-read-view--down-arrow {
    margin-left: 30px;
    top: 10px;
    border-width: 0.5rem;
}

.big-date .react-datepicker__navigation {
    border-width: 1rem;
}
