table.big-table td,
table.big-table th {
    padding: 1rem;
    font-size: 1.25rem;
    vertical-align: middle !important;
}

table.big-table tfoot tr td:first-child {
    text-align: right;
    font-weight: bold;
}