h1 {
    font-size: 4rem;
}

h1 p.new-alert {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.form-step-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 0 1rem 0;
}

.type-buttons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.type-buttons p,
.form-step-buttons {
    font-size: 2rem;
}

.type-buttons button {
    width: 48%;
    font-size: 4rem;
    padding: 4rem 4rem;
}

.big-area {
    font-size: 2rem;
}

.back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.service-button-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-auto-rows: 1fr;
}

.modal-body .service-button-container {
    grid-template-columns: auto auto auto;
}

.service-button-container button {
    font-size: 1.25rem;
    font-weight: bold;
    min-height: 100px;
}

.th-ware {
    max-width: 100%;
    min-width: 150px;
}

.th-price {
    width: 200px;
    min-width: 150px;
}

.th-quantity {
    width: 150px;
    min-width: 100px;
}

.th-sum {
    width: 150px;
    min-width: 100px;
}

.th-actions {
    width: 0px;
}

.vehicle-container p {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.error-list {
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    margin: auto;
    text-align: center;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 64, 133, 0.4);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 64, 133, 0);
    }
}

.detail-description-alert {
    animation: shadow-pulse 1s 10;
    white-space: pre-line;
}

@media screen and (min-width: 1800px) {
    .service-button-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1400px) {
    :not(.modal-body) .service-button-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 700px) {
    :not(.modal-body) .service-button-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 1200px) {
    .back-button {
        position: relative;
        margin: 1rem;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 1330px) {
    .form-step-buttons > button:first-child,
    .form-step-buttons > button:last-child {
        display: none;
    }
}