.card-container {
    display: flex;
    margin-left: -1rem;
    width: auto;
}

.card-container-column {
    padding-left: 1rem;
    background-clip: padding-box;
}

.card-container-column > div {
    margin-bottom: 1rem;
}

.commission-status-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.commission-status-buttons button:not(:last-child) {
    margin-right: 1rem;
}

.commission-card {
    cursor: pointer;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.accordion .card-header {
    cursor: pointer;
}

.btn-new-commission {
    margin-left: auto;
}

.btn-footer {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.btn-footer:first-child:not(:last-child) {
    margin-right: 1rem;
}

.btn-footer svg {
    margin-right: 0.5rem;
}

.card-footer {
    display: flex;
}

.commission-dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: center;
}

.commission-dates header {
    font-weight: bold;
    font-size: 0.8rem;
}

.new-commission-btn {
    margin-left: auto;
}

@media screen and (max-width: 450px) {
    .btn-footer span {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .new-commission-btn {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }

    .new-commission-btn button {
        width: 100%;
    }
}
