.card-container {
    display: flex;
    margin-left: -1rem;
    width: auto;
}

.card-container-column {
    padding-left: 1rem;
    background-clip: padding-box;
}

.card-container-column > div {
    margin-bottom: 1rem;
}

.commission-status-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.commission-card {
    cursor: pointer;
    border-width: 3px !important;
    border-radius: 0.5rem !important;
}

.commission-card .card-body div.alert {
    white-space: pre-line;
}

.card-header {
    font-weight: bold;
}

.accordion .card-header {
    cursor: pointer;
}

.btn-new-commission {
    margin-left: auto;
}

.commission-card-footer {
    display: flex;
    justify-content: space-between;
}

.commission-card-footer button {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.commission-card-footer button:not(:last-child) {
    margin-right: 1rem;
}

.btn-footer svg {
    margin-bottom: 0.2rem;
}

.card-footer {
    display: flex;
}

.commission-dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: center;
}

.commission-dates header {
    font-weight: bold;
    font-size: 0.8rem;
}

.new-commission-btn {
    margin-left: auto;
}

.commission-note {
    white-space: pre-line;
}

.commission-note-edit {
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.5;
}

.commission-note-edit:hover {
    opacity: 1;
}

.not-active {
    color: #6c757d;
    text-decoration: line-through;
}

@media screen and (max-width: 450px) {
    .btn-footer span {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .new-commission-btn {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }

    .new-commission-btn button {
        width: 100%;
    }
}
