html {
    font-size: 20px;
}

body {
    background-color: #f5f5f5;
    color: #343a40;
}

.content-loading {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.btn-xxl {
    padding: 1rem 2rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.6rem;
}

.btn-xl {
    padding: 0.7rem 1.4rem;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: 0.6rem;
}

.table-row-headers tbody tr td:first-child {
    font-weight: bold;
}

.table tfoot tr td:first-child {
    text-align: right;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination > div {
    margin: 2rem 0;
    margin-right: 1rem;
}

.pagination input {
    width: 5rem;
    text-align: center;
}

.pagination > div:last-child {
    margin-right: 0;
}

.pagination-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-input span:first-of-type {
    margin-right: 0.5rem;
}

.pagination-input span:last-of-type {
    margin-left: 0.5rem;
}

.invalid-feedback {
    display: block;
}

@media screen and (max-width: 1200px) {
    .pretty-select.btn-group {
        flex-direction: column;
        width: 100%;
    }
    .pretty-select.btn-group > .btn {
        width: 100%;
    }
    .pretty-select.btn-group > .pretty-select.btn-group:not(:first-child),
    .pretty-select.btn-group > .btn:not(:first-child) {
        margin-top: -1px;
    }
    .pretty-select.btn-group > .btn:not(:first-child) {
        margin-left: 0;
    }
    .pretty-select.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .pretty-select.btn-group > .btn:not(:first-child):not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .pretty-select.btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    .pretty-select.form-control {
        height: auto;
    }
}

@media screen and (max-width: 1660px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 1490px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 14px;
    }
}