{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load slugify %}

{% block content %}
<div>
    <h1>Szczegóły usługi</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Nazwa usługi/towaru</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td class="detail-label">Opis usługi/towaru</td>
                <td>{{ object.description|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Towar</td>
                <td>{{ object.ware|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Ilość</td>
                <td>{{ object.quantity|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Cena netto</td>
                <td>
                    {% if object.price_netto or object.price_netto == 0 %}
                        {{ object.price_netto|floatformat:2 }} zł
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="detail-label">Cena brutto</td>
                <td>
                    {% if object.price_brutto or object.price_brutto == 0 %}
                        {{ object.price_brutto|floatformat:2 }} zł
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Akcje</h5>
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'invoicing:service_template_update' object|slugify object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:invoicing_servicetemplate_change' object.pk %}"><i class="fas fa-toolbox"></i> Admin</a>
                    {% endif %}
                    <a class="btn btn-outline-dark btn-lg" href="{{ back_url }}">Powrót</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-servicetemplates').children(':first').addClass('active');
        $('.sidenav #nav-invoicing').collapse('show');
    });
</script>
{% endblock %}
