{% extends "base.html" %}
{% load static slugify %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1>Szczegóły kontrahenta</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Nazwa</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td class="detail-label">NIP</td>
                <td>{% if object.nip_prefix %}{{ object.nip_prefix }}{% endif %}{{ object.nip|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Adres 1</td>
                <td>{{ object.address_1|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Adres 2</td>
                <td>{{ object.address_2|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Miasto</td>
                <td>{{ object.city|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Kod pocztowy</td>
                <td>{{ object.postal_code|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Adres e-mail</td>
                <td>{{ object.email|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Numer telefonu</td>
                <td>{{ object.phone_1|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Numer telefonu 2</td>
                <td>{{ object.phone_2|default_if_none:"—" }}</td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Akcje</h5>
                    {% if object.nip %}
                        <button class="btn btn-outline-primary btn-lg" data-url="{% url 'invoicing:contractor_gus' %}" data-nip="{{ object.nip }}" id="gus-data"><i class="fas fa-eye"></i> Dane GUS</button>
                    {% endif %}
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'invoicing:contractor_update' object.name|slugify  object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    <a class="btn btn-outline-dark btn-lg" href="{{ back_url }}">Powrót</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Faktury tego kontrahenta</h2>
</div>
{% render_table table %}

{% include 'invoicing/contractor/gus_modal.html' %}

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-contractors').children(':first').addClass('active');
        $('.sidenav #nav-invoicing').collapse('show');
    });
</script>
<script src="{% static 'js/invoicing/contractor-gus-allinfo.js' %}"></script>
{% endblock %}
