[Unit]
Description=gunicorn daemon
After=network.target

[Service]
Environment="SECRET_KEY="
User=bartosz
Group=www-data
WorkingDirectory=/home/bartosz/klima-kar/django-klima-kar
ExecStart=/home/bartosz/klima-kar/venv-klima-kar/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/bartosz/klima-kar/django-klima-kar/KlimaKar.sock KlimaKar.wsgi:application

[Install]
WantedBy=multi-user.target
