{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    
    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th width="25%" class="index orderable">Indeks</th>
                <th width="30%" class="name orderable">Nazwa</th>
                <th width="10%" class="orderable quantity">Ilość</th>
                <th width="15%" class="orderable price">Cena netto</th>
                <th width="15%" class="orderable total">Razem</th>
                <th width="5%" class="actions">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for item_form in item_formset %}
                {{ item_form.id }}
                <tr class="item-formset">
                    <td>
                        {{ item_form.ware }}
                        {% if item_form.ware.errors %}
                            {% for error in item_form.ware.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="item-name"></td>
                    <td class="item-quantity">
                        {{ item_form.quantity }}
                        {% if item_form.quantity.errors %}
                            {% for error in item_form.quantity.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="item-price">
                        {{ item_form.price }}
                        {% if item_form.price.errors %}
                            {% for error in item_form.price.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="item-total-value"></td>
                    <td>{{ item_form.DELETE }}</td>
                </tr>
                {% if item_form.non_form_errors %}
                    {% for error in item_form.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {{ item_formset.management_form }}
    <input class="btn btn-primary" type="submit" value="Zapisz" />
    <a class="btn btn-default" href="javascript:history.back()">Powrót</a>
</form>
{% endblock %}

{% block scripts %}
<script>
    var GET_WARE_DATA = "{% url 'warehouse:get_ware_data' %}";
    $(function () {
        $('#myNavbar #menu-invoices').addClass('active');
        $('.date-input').datetimepicker({
            format:'YYYY-MM-DD'
        });

        $('.item-formset').formset({
            addText: 'Dodaj towar',
            deleteText: 'Usuń'
        });

        $('.item-formset').each(function( index ) {
            var index = $(this).find(".field-index option:selected").text()
            var me = $(this)
            var price = $(me).find(".item-price").children(":first").val()
            var quantity = $(me).find(".item-quantity").children(":first").val()
            var total = (quantity * price).toFixed(2);
            $(me).find(".item-total-value").text(total + " zł");
            if (index == '---------') {
                return;
            }
            $.ajax({
                url: GET_WARE_DATA,
                data: {
                    'index': index
                },
                dataType: 'json',
                success: function (result) {
                    $(me).find(".item-name").text(result['ware']['name']);
                }
            });
        });

        $(".field-index").change(function () {
            var index = $("option:selected", this).text();
            var parent = $(this).parent();
            $.ajax({
                url: GET_WARE_DATA,
                data: {
                    'index': index
                },
                dataType: 'json',
                success: function (result) {
                    $(parent).siblings(".item-name").text(result['ware']['name']);
                    $(parent).siblings(".item-price").children(":first").val(result['ware']['last_price']);
                }
            });
        });

        $(".field-quantity").change(function () {
            var parent = $(this).parent();
            var quantity = $(this).val()
            var price = $(parent).siblings(".item-price").children(":first").val()
            var total = (quantity * price).toFixed(2);
            $(parent).siblings(".item-total-value").text(total + " zł");
        });

        $(".field-price").change(function () {
            var parent = $(this).parent();
            var quantity = $(parent).siblings(".item-quantity").children(":first").val()
            var price = $(this).val()
            var total = (quantity * price).toFixed(2);
            $(parent).siblings(".item-total-value").text(total + " zł");
        });
    });
</script>
{% endblock %}