{% extends "base.html" %}
{% load static %}
{% load render_table export_url from django_tables2 %}

{% block content %}
<div>
    <h1>Faktury zakupowe</h1>
</div>

{% include "filter_panel.html" %}

<div class="card-deck margin-tb-20 text-center">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Dodaj nową fakturę</h5>
            <a class="btn btn-outline-success btn-lg" href="{% url 'warehouse:invoice_create' %}">
                <i class="far fa-plus-square"></i> Nowa faktura
            </a>
            <button type="button" class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#scanModal">
                <i class="far fa-plus-square"></i> Skan faktury
            </button>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Eksport faktur</h5>
            <button class="btn btn-outline-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="far fa-file-archive"></i> Eksport
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% export_url 'xlsx' %}">.xlsx</a>
                <a class="dropdown-item" href="{% export_url 'xls' %}">.xls</a>
                <a class="dropdown-item" href="{% export_url 'csv' %}">.csv</a>
                <a class="dropdown-item" href="{% export_url 'json' %}">.json</a>
                <a class="dropdown-item" href="{% export_url 'ods' %}">.ods</a>
                <a class="dropdown-item" href="{% export_url 'latex' %}">.latex</a>
                <a class="dropdown-item" href="{% export_url 'tsv' %}">.tsv</a>
            </div>
        </div>
    </div>
</div>

{% render_table table %}

<div class="modal fade" id="scanModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wczytaj skan faktury</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="scanForm" data-url="{% url 'warehouse:scannded_to_invoice' %}">
                    {% csrf_token %}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="scanInput" name="file" lang="pl">
                        <label class="custom-file-label" for="customFile" data-browse="Przeglądaj" data-label="Wybierz albo przeciągnij pliki">Wybierz albo przeciągnij plik</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/warehouse/invoice-table.js' %}"></script>
{% endblock %}
