{% extends "base.html" %}

{% block content %}
<div>
    <h1>{{ title }}</h1>
</div>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            {{ form.as_p }}
        </div>
    </div>

    <div class="table-container table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="index orderable">Indeks</th>
                    <th class="name orderable">Nazwa</th>
                    <th class="orderable quantity">Ilość</th>
                    <th class="orderable price">Cena netto</th>
                    <th class="orderable total">Razem</th>
                    <th class="actions">Akcje</th>
                </tr>
            </thead>
            <tbody id="formsets">
                {{ item_formset.management_form }}
                {% for item_form in item_formset %}
                    {{ item_form.id }}
                    <tr class="item-formset hidden">
                        <td class="item-index">
                            {{ item_form.ware }}
                            {% if item_form.ware.errors %}
                                {% for error in item_form.ware.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="item-name"></td>
                        <td class="item-quantity">
                            {{ item_form.quantity }}
                            {% if item_form.quantity.errors %}
                                {% for error in item_form.quantity.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="item-price">
                            {{ item_form.price }}
                            {% if item_form.price.errors %}
                                {% for error in item_form.price.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="item-total-value"></td>
                        <td>
                            <a href="#" title="Usuń">
                                <i class="fa fa-trash fa-lg remove_ware_formset" style="cursor: pointer;"></i>
                            </a>
                        </td>
                        <td class="item-DELETE hidden">{{ item_form.DELETE }}</td>
                    </tr>
                    {% if item_form.non_form_errors %}
                        {% for error in item_form.non_form_errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <tfoot>
                    <td colspan="3">
                        <button type="button" class="btn btn-success btn-sm" id="add_ware_formset">
                            <span class="glyphicon glyphicon-plus"></span> Dodaj towar
                        </button>
                    </td>
                    <td colspan="1">
                        Razem:
                    </td>
                    <td colspan="2" id="invoice-total">
                    </td>
                </tfoot>
            </tbody>
        </table>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Zapisz" />
        <a class="btn btn-default" href="javascript:history.back()">Powrót</a>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    var GET_WARE_DATA = "{% url 'warehouse:get_ware_data' %}";

    function RecalculateTotals() {
        var invoice_total = 0;
        $('.item-formset').each(function() {
            if (!$(this).hasClass('hidden')){
                var price = $(this).find(".item-price").children(":first").val()
                var quantity = $(this).find(".item-quantity").children(":first").val()
                var total = parseFloat((quantity * price).toFixed(2));
                $(this).find(".item-total-value").text(total + " zł");
                invoice_total = parseFloat(parseFloat((invoice_total + total)).toFixed(2));
            }
        });
        $('#invoice-total').text(invoice_total + " zł");
    }

    $(function () {
        $('.sidenav #nav-invoices').children(':first').addClass('active');
        $('.date-input').datetimepicker({
            format:'YYYY-MM-DD'
        });

        $('.item-formset').each(function() {
            var index = $(this).find(".field-index option:selected").text()
            var me = $(this)
            var price = $(me).find(".item-price").children(":first").val()
            var quantity = $(me).find(".item-quantity").children(":first").val()

            if (price != '' || quantity != 1) {
                $(me).removeClass('hidden')
            }
            if (index == '---------') {
                return;
            }
            $(me).removeClass('hidden')
            $.ajax({
                url: GET_WARE_DATA,
                data: {
                    'index': index
                },
                dataType: 'json',
                success: function (result) {
                    $(me).find(".item-name").text(result['ware']['name']);
                }
            });
        });
        $('#formsets tr:first').removeClass('hidden');

        $(".field-index").change(function () {
            var index = $("option:selected", this).text();
            var parent = $(this).parent();
            if (index == '---------') {
                $(parent).siblings(".item-name").text('')
                return;
            }
            $.ajax({
                url: GET_WARE_DATA,
                data: {
                    'index': index
                },
                dataType: 'json',
                success: function (result) {
                    $(parent).siblings(".item-name").text(result['ware']['name']);
                    $(parent).siblings(".item-price").children(":first").val(result['ware']['last_price']);
                    RecalculateTotals();
                }
            });
        });

        $("#add_ware_formset").click(function(){
            var formset = $('#formsets').children('.hidden').first();
            $(formset).find(".item-DELETE").children('input').prop('checked', false);
            $(formset).removeClass('hidden');
            $(formset).insertAfter($("#formsets tr:not('.hidden'):last"));
        });

        $(".remove_ware_formset").click(function(){
            var parent = $(this).parents(".item-formset");
            $(parent).addClass('hidden');
            $(parent).find(".field-index").val('---------').change();
            $(parent).find(".field-price").val('');
            $(parent).find(".item-name").text('');
            $(parent).find(".field-quantity").val('1');
            $(parent).find(".item-total-value").text('0 zł');
            $(parent).find(".item-DELETE").children('input').prop('checked', true);
            RecalculateTotals();
        });

        $(".field-quantity").change(function () {
            RecalculateTotals();
        });

        $(".field-price").change(function () {
            RecalculateTotals();
        });
        RecalculateTotals();
        $(".js-basic-multiple").select2({
            language: "pl"
        });
    });
</script>
{% endblock %}