{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>Faktury</h1>
{% include "filter_panel.html" %}

<div class="action-buttons">
    <a class="btn btn-success" href="{% url 'warehouse:invoice_create' %}">Nowa faktura</a>
</div>

{% render_table table %}
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-invoices').children(':first').addClass('active');
        $('.date-input').datetimepicker({
            format:'YYYY-MM-DD'
        });
    });
</script>
{% endblock %}
