{% extends "base.html" %}
{% load slugify %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1 class="detail-header">Szczegóły faktury zakupowej <a class="btn btn-outline-dark" href="{{ back_url }}">Powrót</a></h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Dostawca</td>
                <td><a href="{% url 'warehouse:supplier_detail' object.supplier|slugify object.supplier.pk %}">{{ object.supplier }}</a></td>
            </tr>
            <tr>
                <td class="detail-label">Numer</td>
                <td>{{ object.number }}</td>
            </tr>
            <tr>
                <td class="detail-label">Data</td>
                <td>{{ object.date|date }}</td>
            </tr>
            <tr>
                <td class="detail-label">Łączna wartość</td>
                <td>{{ object.total_value|floatformat:2 }} zł</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center">
            <div class="card bg-light">
                <h5 class="card-header">
                    Akcje
                </h5>
                <div class="card-body">
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'warehouse:invoice_update' object|slugify object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:warehouse_invoice_change' object.pk %}"><i class="fas fa-toolbox"></i> Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Towary</h2>
        {% render_table table %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-invoices').children(':first').addClass('active');
        $('.sidenav #nav-warehouse').collapse('show');
    });
</script>
{% endblock %}
