{% load django_tables2 %}

{% if table.page and table.paginator.num_pages > 1 %}
{% block pagination %}
<ul class="pager list-inline">
    {% if table.page.has_previous %}
        {% block pagination.previous %}
        <li class="previous">
            <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="btn btn-default"><span aria-hidden="true">&larr;</span> Poprzednia</a>
        </li>
        {% endblock pagination.previous %}
    {% endif %}

    {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.current %}
            <li class="cardinality">
                <small>Strona {{ table.page.number }} z {{ table.paginator.num_pages }}</small>
            </li>
        {% endblock pagination.current %}
    {% endif %}

    {% if table.page.has_next %}
        {% block pagination.next %}
        <li class="next">
            <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="btn btn-default">Następna <span aria-hidden="true">&rarr;</span></a>
        </li>
        {% endblock pagination.next %}
    {% endif %}
</ul>
{% endblock pagination %}
{% endif %}