{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static access_control slugify %}

{% block content %}
<div>
    <h1 class="detail-header">Szczegóły dostawcy <a class="btn btn-outline-dark" href="{{ back_url }}">Powrót</a></h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Nazwa</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td class="detail-label">Łączna wartość zakupów</td>
                <td>{% if object.all_invoices_value %}{{ object.all_invoices_value|floatformat:2 }} zł{% else %}—{% endif %}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Akcje</h5>
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'warehouse:supplier_update' object|slugify object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:warehouse_supplier_change' object.pk %}"><i class="fas fa-toolbox"></i> Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if chart and request.user|has_group:'boss' %}
        <div class="col-xs-12 col-lg-8">
            {% include 'stats/chart.html' with id=1 %}
        </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-12">
        <h2>Faktury tego dostawcy</h2>
        {% render_table table %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-suppliers').children(':first').addClass('active');
        $('.sidenav #nav-warehouse').collapse('show');
    });
</script>
<script src="{% static 'js/stats/load_charts.js' %}"></script>
{% endblock %}
