{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>Szczegóły dostawcy</h1>

<table class="table table-bordered detail-table">
    <tr>
        <td class="detail-label">Nazwa</td>
        <td>{{ object.name }}</td>
    </tr>
</table>

<h4>Faktury tego dostawcy</h4>
{% render_table table %}

<a class="btn btn-warning" href="{% url 'warehouse:supplier_update' object.pk %}">Edycja</a>
<a class="btn btn-default" href="javascript:history.back()">Powrót</a>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-suppliers').children(':first').addClass('active');
    });
</script>
{% endblock %}
