{% extends "base.html" %}

{% block content %}
<div class="col-xs-12">
    <h1>{{ title }}</h1>
</div>
<div class="col-xs-12">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Zapisz" />
        <a class="btn btn-default" href="javascript:history.back()">Powrót</a>
    </form>
</div> 
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-suppliers').children(':first').addClass('active');
    });
</script>
{% endblock %}
