{% extends "base.html" %}
{% load slugify %}

{% block content %}
<div>
    <h1>{{ title }}</h1>
</div>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            {% include 'forms/form.html' with form=form %}
        </div>
    </div>

    <div class="card-deck text-center">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Akcje</h5>
                <button class="btn btn-outline-primary btn-lg" type="submit"><i class="far fa-save"></i> Zapisz</button>
                {% if object.pk %}
                    <a class="btn btn-outline-dark btn-lg" href="{% url 'warehouse:supplier_detail' object|slugify object.pk %}">Powrót</a>
                {% else %}
                    <a class="btn btn-outline-dark btn-lg" href="{% url 'warehouse:suppliers' %}">Powrót</a>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-suppliers').children(':first').addClass('active');
        $('.sidenav #nav-warehouse').collapse('show');
    });
</script>
{% endblock %}
