{% load static access_control messages compress %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Klima-Kar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% compress css file base %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/daterangepicker.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'autocomplete_light/select2.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/print.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/sweetalert2.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/headings.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}">
    {% endcompress %}
    {% compress css file page %}
        {% block header %}
        {% endblock %}
    {% endcompress %}
</head>
<body>

<ul class="topnav">
    {% if DEBUG %}
        <li class="debug-info"><a class="active right-line" href="{% url 'home' %}">SERWER DEWELOPERSKI</a></li>
    {% else %}
        <li><a class="active right-line" href="{% url 'home' %}">Klima-Kar</a></li>
    {% endif %}
    <li><span class="motto">komfortowy klimat w zasięgu ręki</span></li>
    <li class="left-line" style="float:right">
        <a href="#" title="Menu" id="toggleMenu">
            <i class="fa fa-bars fa-lg" style="cursor: pointer;"></i>
        </a>
    </li>
    {% if user.is_authenticated %}
    <li class="left-line" style="float:right">
        <a href="{% url 'accounts:logout' %}" title="Wyloguj">
            <i class="fa fa-sign-out-alt fa-lg" style="cursor: pointer;"></i> <span>Wyloguj</span>
        </a>
    </li>
    <li class="left-line" style="float:right">
        <button href="#" title="Zgłoszenie" data-toggle="modal" data-target="#issue_modal">
            <i class="fas fa-exclamation-triangle" style="cursor: pointer;"></i>
        </button>
    </li>
    {% endif %}
    {% if request.user|has_group:"boss" %}
        <li style="float:right">
            <a href="{% url 'settings:settings' %}" title="Ustawienia">
                <i class="fa fa-cogs fa-lg" style="cursor: pointer;"></i>
            </a>
        </li>
    {% endif %}
</ul>
{% if user.is_authenticated %}
    {% include 'menu.html' %}
{% endif %}
<div class="container-fluid text-center">
    <div class="content text-left {% if not user.is_authenticated %}content-full{% endif %}">
        {% block content %}
        {% endblock %}
        <div class="modal fade" id="modal-generic" role="dialog">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    </div>
            </div>
        </div>
        {% include 'issue_modal.html' %}
    </div>
</div>

{% compress js file base %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'js/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'js/select2/pl.js' %}"></script>
    <script src="{% static 'js/select2/pl-PL.js' %}"></script>
    <script src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script src="{% static 'autocomplete_light/forward.js' %}"></script>
    <script src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script src="{% static 'autocomplete_light/select2.js' %}"></script>
    <script src="{% static 'autocomplete_light/jquery.post-setup.js' %}"></script>
    <script src="{% static 'js/print.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/bs-custom-file-input.min.js' %}"></script>

    <script src="{% static 'js/base/daterangepicker-init.js' %}"></script>
    <script src="{% static 'js/base/dynamic-table.js' %}"></script>
    <script src="{% static 'js/base/submit-issue.js' %}"></script>

    <script>
        var MESSAGES = {{messages|to_list|safe}};
    </script>
    <script src="{% static 'js/base/alerts.js' %}"></script>

    <script>
        $(document).on('focus', '.select2-selection--single', function(e) {
            select2_open = $(this).parent().parent().siblings('select');
            select2_open.select2('open');
        });
        $('#toggleMenu').on('click', function () {
            $('.sidenav').toggle();
            $('body').toggleClass('menu-shown');
        })
    </script>
{% endcompress %}
{% compress js file page %}
    {% block scripts %}
    {% endblock %}
{% endcompress %}
</body>
</html>
