{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Klima-Kar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'autocomplete_light/select2.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/headings.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}">
  {% block header %}
  {% endblock %}
</head>
<body>

<ul class="topnav">
  <li><a class="active right-line" href="{% url 'home' %}">Klima-Kar</a></li>
  <li><span class="motto">komfortowy klimat w zasięgu ręki</span></li>
  {% if user.is_authenticated %}
    <li class="left-line" style="float:right">
      <a href="{% url 'logout' %}" title="Wyloguj">
        <i class="fa fa-sign-out fa-lg" style="cursor: pointer;"></i> Wyloguj
      </a>
    </li>
  {% endif %}
</ul>
{% if user.is_authenticated %}
  {% include 'menu.html' %}
{% endif %}
<div class="spacer">
  &nbsp;
</div>
<div id="alert-box">
  {% for message in messages %}
    <div class="alert-django alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" data-dismiss="alert">{{ message }}</div>
  {% endfor %}
</div>
<div class="container-fluid text-center">    
  <div class="content text-left {% if not user.is_authenticated %}content-full{% endif %}">
    {% block content %}
    {% endblock %}
    <div class="modal fade" id="modal-generic" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/moment-pl.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'autocomplete_light/vendor/select2/dist/js/i18n/pl.js' %}"></script>
<script src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script src="{% static 'autocomplete_light/select2.js' %}"></script>

<script src="{% static 'js/invoicing/contractor-gus.js' %}"></script>

<script>
  $(document).on('focus', '.select2-selection--single', function(e) {
    select2_open = $(this).parent().parent().siblings('select');
    select2_open.select2('open');
  });
  function append_alert(tag, message) {
    var message_prefix = ''
    switch(tag) {
      case 'danger':
        message_prefix = 'Błąd! ';
        break;
      case 'success':
        message_prefix = 'Sukces! ';
        break;
    }
    var rnd_class = 'alert-' + Math.random().toString(36).substring(7);
    $('#alert-box').append('<div class="' + rnd_class + ' alert alert-' + tag + ' alert-dismissible fade show" role="alert" data-dismiss="alert"><strong>' + message_prefix + '</strong>' + message + '</div>');
    setTimeout(function() {
        $('.' + rnd_class).alert('close');
    }, 5000);
  }
  $(function () {
    $('.date-input').datetimepicker({
      format:'DD.MM.YYYY',
      icons: {
        time: 'fa fa-clock-o',
        date: 'fa fa-calendar',
        up: 'fa fa-chevron-up',
        down: 'fa fa-chevron-down',
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-dot-circle-o',
        clear: 'fa fa-trash',
        close: 'fa fa-times'
      }
    });
    setTimeout(function() {
        $(".alert-django").alert('close');
    }, 5000);
  });
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
