<div class="modal fade" id="issue_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="issue_form" onsubmit="submitIssue('{{ issue_submit_url }}'); return false;">
                <div class="modal-header">
                    <h5 class="modal-title">Wyślij zgłoszenie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a class="btn btn-outline-info" href="{{ issue_list_url }}" target="_blank" style="width: 100%;"><i class="fab fa-github"></i> Zobacz istniejące zgłoszenia</a>
                    <hr>
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=issue_form hide_alert=True %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-outline-primary"><i class="far fa-paper-plane"></i> Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>
