<ul class="sidenav">
    <li id="nav-dashboard">
        <a href="{% url 'home' %}">
            <span class="fa fa-tachometer"></span> Statystyki
        </a>
    </li>
    <li id="nav-wares">
        <a href="{% url 'warehouse:wares' %}">
            <span class="fa fa-tags"></span> Towary
        </a>
    </li>
    <li id="nav-invoices">
        <a href="{% url 'warehouse:invoices' %}">
            <span class="fa fa-file-text"></span> Faktury
        </a>
    </li>
    <li id="nav-suppliers">
        <a href="{% url 'warehouse:suppliers' %}">
            <span class="fa fa-truck"></span> Dostawcy
        </a>
    </li>
</ul>
