<ul class="sidenav">
    <li id="nav-dashboard" class="main-nav">
        <a href="{% url 'stats:dashboard' %}">
            <span class="fa fa-tachometer-alt"></span> Statystyki
        </a>
    </li>
    <li id="nav-wiki" class="main-nav">
        <a href="{% url 'wiki:article_list' %}">
            <span class="fa fa-book-open"></span> Baza wiedzy
        </a>
    </li>

    <li>
        <i data-toggle="collapse" href="#nav-warehouse">Magazyn <span class="fa fa-angle-down"></span></i>
    </li>
    <div id="nav-warehouse" class="collapse show">
        <li id="nav-wares">
            <a href="{% url 'warehouse:wares' %}">
                <span class="fa fa-tags"></span> Towary
            </a>
        </li>
        <li id="nav-invoices">
            <a href="{% url 'warehouse:invoices' %}">
                <span class="fa fa-file-alt"></span> Faktury zakupowe
            </a>
        </li>
        <li id="nav-suppliers">
            <a href="{% url 'warehouse:suppliers' %}">
                <span class="fa fa-truck"></span> Dostawcy
            </a>
        </li>
    </div>

    <li>
        <i data-toggle="collapse" href="#nav-invoicing">Fakturowanie<span class="fa fa-angle-down"></span></i>
    </li>
    <div id="nav-invoicing" class="collapse show">
        <li id="nav-saleinvoices">
            <a href="{% url 'invoicing:sale_invoices' %}">
                <span class="fa fa-book"></span> Faktury sprzedażowe
            </a>
        </li>
        <li id="nav-contractors">
            <a href="{% url 'invoicing:contractors' %}">
                <span class="fa fa-users"></span> Kontrahenci
            </a>
        </li>
        <li id="nav-servicetemplates">
            <a href="{% url 'invoicing:service_templates' %}">
                <span class="fa fa-bookmark"></span> Usługi
            </a>
        </li>
    </div>
    <li>
        <i data-toggle="collapse" href="#nav-commission">Zlecenia<span class="fa fa-angle-down"></span></i>
    </li>
    <div id="nav-commission" class="collapse show">
        <li id="nav-commissions">
            <a href="{% url 'commission:commissions' %}">
                <span class="fa fa-tasks"></span> Zlecenia
            </a>
        </li>
        <li id="nav-vehicles">
            <a href="{% url 'commission:vehicles' %}">
                <span class="fa fa-car"></span> Pojazdy
            </a>
        </li>
        <li id="nav-components">
            <a href="{% url 'commission:components' %}">
                <span class="fa fa-microchip"></span> Podzespoły
            </a>
        </li>
    </div>

    {% if request.user.is_staff %}
        <li>
            <i data-toggle="collapse" href="#nav-management">Zarządzanie<span class="fa fa-angle-down"></span></i>
        </li>
        <div id="nav-management" class="collapse show">
            <li id="nav-audit">
                <a href="{% url 'apps.audit:audit_logs' %}">
                    <span class="fa fa-history"></span> Audyt zmian
                </a>
            </li>
            <li id="nav-users">
                <a href="{% url 'accounts:users' %}">
                    <span class="fa fa-user-circle"></span> Użytkownicy
                </a>
            </li>
            <li id="nav-user-sessions">
                <a href="{% url 'accounts:user_sessions' %}">
                    <span class="fa fa-sliders-h"></span> Sesje użytkowników
                </a>
            </li>
            <li id="nav-admin-page">
                <a target="_blank" href="{% url 'admin:index' %}">
                    <span class="fas fa-toolbox"></span> Panel admina
                </a>
            </li>
        </div>
    {% endif %}
</ul>
