{% if record.action_type == ADDITION %}
    —
{% else %}
    <table class="table table-dark mb-0">
        <thead>
            <tr>
                <th scope="col" class="bg-info" width="30%">Pole</th>
                <th scope="col" class="bg-danger" width="35%">Było</th>
                <th scope="col" class="bg-success" width="35%">Jest</th>
            </tr>
        </thead>
        <tbody id="diff-body">
            {% for key, value in record.get_diffrence_verbose.items %}
                <tr>
                    <td class="bg-info">{{ key }}</td>
                    {% if record.action_type == DELETION %}
                        <td class="bg-danger">{{ value|default:"—" }}</td>
                        <td class="bg-success">—</td>
                    {% endif %}
                    {% if record.action_type == CHANGE %}
                        <td class="bg-danger">
                            {% if value.0|length > 512 %}
                                <details><summary>Kliknij, żeby zobaczyć</summary><p>{{ value.0|default:"—" }}</p></details>
                            {% else %}
                                {{ value.0|default:"—" }}
                            {% endif %}
                        </td>
                        <td class="bg-success">
                            {% if value.1|length > 512 %}
                                <details><summary>Kliknij, żeby zobaczyć</summary><p>{{ value.1|default:"—" }}</p></details>
                            {% else %}
                                {{ value.1|default:"—" }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
