{% if record.action_type == ADDITION %}
    —
{% else %}
    <table class="table table-dark mb-0">
        <thead>
            <tr>
                <th scope="col" class="bg-info" width="30%">Pole</th>
                <th scope="col" class="bg-danger" width="35%">Było</th>
                <th scope="col" class="bg-success" width="35%">Jest</th>
            </tr>
        </thead>
        <tbody id="diff-body">
            {% for key, value in record.get_diffrence_verbose.items %}
                <tr>
                    <td class="bg-info">{{ key }}</td>
                    {% if record.action_type == DELETION %}
                        <td class="bg-danger">{{ value|default:"—" }}</td>
                        <td class="bg-success">—</td>
                    {% endif %}
                    {% if record.action_type == CHANGE %}
                        <td class="bg-danger">{{ value.0|default:"—" }}</td>
                        <td class="bg-success">{{ value.1|default:"—" }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
