{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1>Towary</h1>
</div>

{% include "filter_panel.html" %}

<div class="card-deck margin-tb-20 text-center">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Dodaj nowy towar</h5>
            <a class="btn btn-outline-success btn-lg" href="{% url 'warehouse:ware_create' %}"><i class="far fa-plus-square"></i> Nowy towar</a>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Eksport towarów</h5>
            <a class="btn btn-outline-info btn-lg" href="{% url 'warehouse:wares_inventory' %}"><i class="far fa-file-excel"></i> Remanent</a>
        </div>
    </div>
</div>

{% render_table table "tables2/table.html" %}
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $('.sidenav #nav-wares').children(':first').addClass('active');
        $('.sidenav #nav-warehouse').collapse('show');
    });
</script>
{% endblock %}
