{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1>Szczegóły towaru</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Indeks</td>
                <td>{{ object.index }}</td>
            </tr>
            <tr>
                <td class="detail-label">Nazwa</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td class="detail-label">Stan</td>
                <td>{{ object.stock }}</td>
            </tr>
            <tr>
                <td class="detail-label">Opis</td>
                <td>{{ object.description|default:"—" }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Akcje</h5>
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'warehouse:ware_update' object.pk %}">Edycja</a>
                    <a class="btn btn-outline-dark btn-lg" href="{% url 'warehouse:wares' %}">Powrót</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-8" style="display:none;margin-top:1rem;">
        <div class="chart-div card bg-light">
            <h5 class="card-header">Historia ceny zakupu</h5>
            <div class="card-body">
                <canvas id="chart_ware_price" chart-url="{% url 'stats:ware_purchase_cost' object.pk %}"></canvas>
            </div>
        </div>
    </div>
</div>

<div>
    <h4>Faktury zawierające towar</h4>
</div>
{% render_table table "tables2/table.html" %}
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-wares').children(':first').addClass('active');
        $('.sidenav #nav-warehouse').collapse('show');
    });
</script>
<script src="{% static 'js/stats/load_charts.js' %}"></script>
{% endblock %}
