{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1>Towary</h1>
</div>
{% include "filter_panel.html" %}
<div class="action-buttons text-right">
    <a class="btn btn-success" href="{% url 'warehouse:ware_create' %}">Nowy towar</a>
</div>
{% render_table table "tables2/table.html" %}
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $('.sidenav #nav-wares').children(':first').addClass('active');
    });
</script>
{% endblock %}
