{% extends "base.html" %}
{% load static slugify contenttypes %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1 class="detail-header">Szczegóły towaru <a class="btn btn-outline-dark" href="{{ back_url }}">Powrót</a></h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Indeks</td>
                <td>{{ object.index }}</td>
            </tr>
            <tr>
                <td class="detail-label">Nazwa</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td class="detail-label">Kod kreskowy</td>
                <td>{{ object.barcode }}</td>
            </tr>
            <tr>
                <td class="detail-label">Stan</td>
                <td>{{ object.stock }}</td>
            </tr>
            <tr>
                <td class="detail-label">Cena detaliczna</td>
                <td>{% if object.retail_price %}{{ object.retail_price|floatformat:2 }} zł{% else %}—{% endif %}</td>
            </tr>
            <tr>
                <td class="detail-label">Opis</td>
                <td>{{ object.description|default:"—" }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center mb-4">
            <div class="card bg-light">
                <h5 class="card-header">
                    Akcje
                </h5>
                <div class="card-body">
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'warehouse:ware_update' object|slugify object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    {% if request.user.is_staff %}
                        <a class="btn btn-outline-primary btn-lg" href="{% url 'audit:object_audit_logs' object|slugify object|content_type object.pk %}"><i class="fa fa-history"></i> Audyt</a>
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:warehouse_ware_change' object.pk %}"><i class="fas fa-toolbox"></i> Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'annotations/annotations_card.html' with object=object app_name="warehouse" model_name="ware" %}
    </div>
    <div class="col-xs-12 col-lg-8" style="margin-top:1rem;">
        <div class="chart-card card bg-light" chart-url="{% url 'stats:ware_purchase_cost' object.pk %}" style="display:none;">
            <h5 class="card-header">Historia ceny zakupu</h5>
            <div class="card-body">
                <canvas class="chart_canvas"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Faktury zawierające towar</h2>
        {% render_table table %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-wares').children(':first').addClass('active');
        $('.sidenav #nav-warehouse').collapse('show');
    });
</script>
<script src="{% static 'js/stats/load_charts.js' %}"></script>
<script src="{% static 'js/annotations/annotations_card.js' %}"></script>
{% endblock %}
