{% load static %}
<form id="modal_form" method="post" onsubmit="submitAjaxForm('{{ url }}', '{{ identifier }}'); return false;">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'forms/form.html' with form=form %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Zamknij</button>
        <button type="submit" class="btn btn-outline-primary" id="modal-submit"><i class="far fa-save"></i> Zapisz</button>
    </div>
</form>

{% block scripts %}
<script src="{% static 'js/base/daterangepicker-init.js' %}"></script>
<script>
    function submitAjaxForm(url, identifier) {
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#modal_form').serialize(),
            success: function(data){
                $("#modal-generic").modal("hide");
                if (typeof customSuccessCreate !== 'undefined' && $.isFunction(customSuccessCreate)) {
                    customSuccessCreate(data, identifier);
                }
            },
            error: function(data){
                if (data && data.responseJSON) $("#modal-generic .modal-content").html(data.responseJSON.html_form);
                else genericErrorAlert();
            }
        });
    };
</script>
{{ form.media.js }}
{% endblock %}