{% extends "base.html" %}
{% load static slugify %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1 class="detail-header">Szczegóły zlecenia <a class="btn btn-outline-dark" href="{{ back_url }}">Powrót</a></h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Numer zlecenia</td>
                <td>{{ object.number }}</td>
            </tr>
            {% if not object.vehicle and not object.component %}
            <tr>
                <td class="detail-label">Pojazd/Podzespół</td>
                <td>{{ object.vc_name }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="detail-label">Status</td>
                <td>
                    {% csrf_token %}
                    <input type="hidden" id="sms" value="{{ sms }}">
                    {% if object.is_editable or request.user.is_staff %}
                        <div id="status-select" class="btn-group btn-group-toggle" data-toggle="buttons" data-url="{% url 'commission:change_status' %}" data-done="{{ object.DONE }}" data-ready="{{ object.READY }}" data-sent="{{ object.sent_sms }}" {% if object.contractor %} data-phone1="{{ object.contractor.phone_1 }}" data-phone2="{{ object.contractor.phone_2 }}"{% endif %}>
                            {% for status in object.STATUS_CHOICES %}
                                <label class="btn btn-outline-primary{% if object.status == status.0 %} active{% endif %}">
                                    <input type="radio" name="status" id="option_{{ status.0 }}" data-value="{{ status.0 }}" data-pk="{{ object.pk }}" autocomplete="off" {% if object.status == status.0 %}checked{% endif %}> {{ status.1 }}
                                </label>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ object.get_status_display }}
                    {% endif %}
                    <div id="smsSentAlert" class="alert alert-info mt-3 mb-1 align-items-center {% if not object.sent_sms %}d-none{% else %}d-flex{% endif %}">
                        <i class="fas fa-info-circle fa-2x mr-2"></i>
                        Powiadomienie SMS zostało już wysłane.
                    </div>
                    <div id="sendSmsBtn" class="mt-2 {% if object.sent_sms or object.status != object.READY %}d-none{% endif %}">
                        <button class="btn btn-outline-primary"><i class="fas fa-sms"></i> Wyślij powiadomienie</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="detail-label">Data przyjęcia</td>
                <td>{{ object.start_date }}</td>
            </tr>
            <tr>
                <td class="detail-label">Data zamknięcia</td>
                <td id="end_date">{{ object.end_date|default:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Łączna wartość</td>
                <td>{{ object.value|floatformat:2 }} zł</td>
            </tr>
            <tr>
                <td class="detail-label">Faktury sprzedażowe</td>
                <td>
                    <ul class="simple-list" id="invoice-list">
                        {% if object.sale_invoices.all.exists %}
                            {% for invoice in object.sale_invoices.all %}
                                <li>
                                    <a href="{% url 'invoicing:sale_invoice_detail' invoice|slugify invoice.pk %}">{{ invoice }}</a> <i class="fa fa-times unassign-invoice" data-name="{{ invoice }}" data-pk="{{ invoice.pk }}" title="Odłącz fakturę"></i>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="li-none">—</li>
                        {% endif %}
                    </ul>
                    <hr>
                    <div class="detail-footer">
                        <button type="button" id="add_invoice" class="btn btn-outline-success" data-toggle="modal" data-target="#invoice_modal"><i class="far fa-plus-square"></i> Dodaj nową fakturę</button>
                        <button class="btn btn-outline-success" id="assign_invoice"><i class="fa fa-book"></i> Przypisz istniejącą fakturę</button>

                        <div id="invoice-select" data-commission="{{ object.pk }}" data-assign-url="{% url 'commission:assign_invoice' %}" data-unassign-url="{% url 'commission:unassign_invoice' %}">
                            <select name="sale_invoice" data-placeholder="Podaj numer faktury" class="form-control" id="id_sale_invoice" data-autocomplete-light-language="pl" data-autocomplete-light-url="{% url 'invoicing:sale_invoice_autocomplete' %}" data-autocomplete-light-function="select2">
                                <option value="" selected>---------</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="detail-label">Pliki</td>
                <td id="file-data" data-upload="{{ object.upload }}" data-commission="{{ object.pk }}" data-check-url="{% url 'commission:check_upload' %}">
                    {% if object.upload %}
                        <div class="card bg-light">
                            <div class="card-body">
                                <i class="fas fa-info-circle fa-4x"></i>
                                <div>
                                    Dodane pliki są jeszcze przetwarzane. Będą dostępne za chwilę.
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.commissionfile_set.all.exists %}
                        <ul class="simple-list">
                            {% for file in object.commissionfile_set.all %}
                                <li>
                                    <a href="{% url 'commission:commission_file_download' object|slugify object.pk file.file_name %}" target="_blank">{{ file.file_name }} - {{ file.file_size|filesizeformat }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if not object.upload and not object.commissionfile_set.all.exists %}
                        —
                    {% endif %}
                </td>
            </tr>
        </table>
        {% if object.description %}
            <div class="alert alert-primary detail-description-alert" role="alert">
                <div class="detail-description"><i class="fas fa-exclamation-circle fa-3x"></i> {{ object.description|default:"—"|linebreaks }}</div>
            </div>
        {% endif %}

        <div class="card-deck">
            {% if object.contractor %}
                {% include 'invoicing/contractor/contractor_card.html' with contractor=object.contractor %}
            {% endif %}
            {% if object.vehicle %}
                {% include 'commission/vehicle/vehicle_card.html' with vehicle=object.vehicle %}
            {% elif object.component %}
                {% include 'commission/component/component_card.html' with component=object.component %}
            {% endif%}
        </div>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center mb-4">
            <div class="card bg-light">
                <h5 class="card-header">
                    Akcje
                </h5>
                <div class="card-body">
                    <button id="print-btn" class="btn btn-outline-primary btn-lg" data-url="{% url 'commission:commission_print_pdf' object|slugify object.pk %}"><i class="fas fa-print"></i> Drukuj</button>
                    <button class="btn btn-outline-primary btn-lg" id="pdf-btn" data-url="{% url 'commission:commission_pdf' object|slugify object.pk %}"><i class="far fa-file-pdf"></i> PDF</button>
                    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#email_modal"><i class="far fa-envelope"></i> E-mail</button>
                    {% if object.is_editable or request.user.is_staff %}
                        <a class="btn btn-outline-warning btn-lg" href="{% url 'commission:commission_update' object|slugify object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                        {% if object.commission_type == object.VEHICLE %}
                            <button id="change-type" data-url="{% url 'commission:change_type' %}" data-pk="{{ object.pk }}" class="btn btn-lg btn-outline-info"><i class="fa fa-microchip"></i> Zamień na podzespół</button>
                        {% else %}
                            <button id="change-type" data-url="{% url 'commission:change_type' %}" data-pk="{{ object.pk }}" class="btn btn-lg btn-outline-info"><i class="fa fa-car"></i> Zamień na pojazd</button>
                        {% endif %}
                    {% endif %}
                    {% if request.user.is_staff %}
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:commission_commission_change' object.pk %}"><i class="fas fa-toolbox"></i> Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card bg-light notes">
            <h5 class="card-header text-center">
                Notatki
            </h5>
            <ul class="list-group list-group-flush">
                {% for note in object.commissionnote_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-start{% if not note.is_active %} not-active{% endif %}" data-contents="{{ note.contents }}" data-active="{{ note.is_active }}">
                        <div>
                            <small class="font-weight-bold">{{ note.created }}{% if note.was_edited %} (edytowano {{ note.last_edited }}){% endif%}</small>
                            <div>{{ note.contents|linebreaksbr }}</div>
                        </div>
                        <button type="button" class="btn p-0 border-0 shadow-none close edit-note" data-pk="{{ note.pk }}">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </li>
                {% empty %}
                    <li class="list-group-item d-flex justify-content-between align-items-start empty-notes">
                    Brak notatek.
                    </li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <button data-pk="{{ object.pk }}" type="button" class="btn btn-outline-success" id="addNote"><i class="far fa-plus-square"></i> Dodaj nową notatkę</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Pozycje zlecenia</h2>
        {% render_table table %}
    </div>
</div>

<div class="modal fade" id="invoice_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="invoice_form" onsubmit="submitInvoiceForm('{% url 'commission:prepare_invoice_url' %}', '{{ object.pk }}'); return false;">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj nową fakturę na podstawie zlecenia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% include 'commission/commission/to_invoice_form.html' with commission=object types=invoice_types %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="email_form" onsubmit="submitEmailForm('{{ email_url }}'); return false;">
                <div class="modal-header">
                    <h5 class="modal-title">Wyślij E-zlecenie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=email_form hide_alert=True %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-outline-primary"><i class="far fa-paper-plane"></i> Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/commission/commission-detail.js' %}"></script>
{% endblock %}
