{% extends "base.html" %}
{% load static slugify %}

{% block content %}
<div>
    <h1>{{ title }}</h1>
</div>
<form id="sale-invoice-form" action="" method="post">
    <input type="hidden" id="create_contractor_url" value="{% url 'invoicing:contractor_create_ajax' %}">
    <input type="hidden" id="update_contractor_url" value="{% url 'invoicing:contractor_update_ajax' 0 %}">
    <input type="hidden" id="create_vehicle_url" value="{% url 'commission:vehicle_create_ajax' %}">
    <input type="hidden" id="update_vehicle_url" value="{% url 'commission:vehicle_update_ajax' 0 %}">
    <input type="hidden" id="create_component_url" value="{% url 'commission:component_create_ajax' %}">
    <input type="hidden" id="update_component_url" value="{% url 'commission:component_update_ajax' 0 %}">
    {% csrf_token %}
    <div class="row">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% include 'forms/not_saved.html' %}
      
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            </div>
        {% endif %}
        <div class="col-sm-6 form-group"{% if form.vehicle %} id="vehicle-select"{% endif %}>
            <template id="scan-icon-template">
                <i class="fa fa-qrcode scan-vehicle"></i>
            </template>
            <div style="display:flex;width:100%;">
                <div style="width:calc(100% - 105px);margin-bottom:-1rem;">
                    {% if form.vehicle %}
                        {% include 'forms/field.html' with field=form.vehicle %}
                    {% else %}
                        {% include 'forms/field.html' with field=form.component %}
                    {% endif %}
                </div>
                <button disabled id="vehicle-component-edit" class="btn btn-outline-warning" style="margin-left:5px;margin-top:29px;height:38px;width:100px;" type="button"><i class="fas fa-edit"></i> Edytuj</button>
            </div>
        </div>
        <div class="col-sm-6">
            {% include 'forms/field.html' with field=form.vc_name %}
        </div>
        <div class="col-sm-6">
            <div style="display:flex;width:100%;">
                <div style="width:calc(100% - 105px);">
                    {% include 'forms/field.html' with field=form.contractor %}
                </div>
                <button disabled id="contractor-edit" class="btn btn-outline-warning" style="margin-left:5px;margin-top:29px;height:38px;width:100px;" type="button"><i class="fas fa-edit"></i> Edytuj</button>
            </div>
            <small data-url="{% url 'invoicing:contractor_gus' %}" id="gus-data" style="margin-top: -16px;{% if not object.contractor %}display:none;{% endif %}">Pokaż wszystkie dane z GUS</small>
            {% include 'invoicing/contractor/gus_modal.html' %}
        </div>
        <div class="col-sm-6">
            {% include 'forms/field.html' with field=form.status pretty_select=True %}
        </div>
        <div class="col-sm-6">
            {% include 'forms/field.html' with field=form.start_date %}
        </div>
        <div class="col-sm-6">
            {% include 'forms/field.html' with field=form.end_date %}
        </div>
        <div class="col-sm-12">
            {% include 'forms/field.html' with field=form.description %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="custom-file" data-url="{% url 'mycloudhome:temporary_file_upload' %}" data-delete-temp-url="{% url 'mycloudhome:delete_temp_file' %}" data-delete-previous-url="{% url 'commission:delete_commission_file' %}">
                    <input type="file" class="custom-file-input" id="customFile" name="files[]" multiple lang="pl">
                    <label class="custom-file-label" for="customFile" data-browse="Przeglądaj" data-label="Wybierz albo przeciągnij pliki">Wybierz albo przeciągnij pliki</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
                    </div>
                </div>
                <ul id="file-list" class="simple-list">
                    {% for file in temp_files %}
                        <li>
                            {{ file.name }} - {{ file.size|filesizeformat }} <i class="fa fa-times delete-file" data-file="{{ file.name }}" title="Usuń plik"></i>
                        </li>
                    {% endfor %}
                </ul>
                {% if object %}
                    <ul id="previous-file-list" class="simple-list">
                        {% for file in object.commissionfile_set.all %}
                            <li>
                                {{ file.file_name }} - {{ file.file_size|filesizeformat }} <i class="fa fa-times delete-previous-file" data-object="{{ object.pk }}" data-file="{{ file.pk }}" title="Usuń plik"></i>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'invoicing/service_template/service_buttons.html' with services=services %}
            {% include 'invoicing/service_template/ware_filer_modal.html' %}
            {{ inlines.0.management_form }}
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="min-width:15rem;">Usługa/Towar</th>
                            <th style="min-width:8rem;width:10rem;">Cena</th>
                            <th style="min-width:4rem;width:6rem;">Ilość</th>
                            <th style="min-width:8rem;width:8rem;">Wartość</th>
                            <th style="min-width:4rem;width:8rem;">Akcje</th>
                        </tr>
                    </thead>
                    <tbody id="item-rows">
                        {% for item_form in inlines.0 %}
                            {{ item_form.id }}
                            <tr class="item-formset-row d-none">
                                <td>
                                    <div style="margin-bottom:4px;">
                                        {% include 'forms/field.html' with field=item_form.name hide_label=True %}
                                    </div>
                                    <div style="margin-bottom:4px;">
                                        {% include 'forms/field.html' with field=item_form.description hide_label=True %}
                                    </div>
                                    <div>
                                        {% include 'forms/field.html' with field=item_form.ware hide_label=True %}
                                    </div>
                                </td>
                                <td>
                                    {% include 'forms/field.html' with field=item_form.price hide_label=True %}
                                </td>
                                <td>
                                    {% include 'forms/field.html' with field=item_form.quantity hide_label=True %}
                                </td>
                                <td class="item-total">
                                    0,00 zł
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger btn-sm btn-table remove_item_formset" title="Usuń">
                                        Usuń
                                    </button>
                                </td>
                                <td class="item-DELETE d-none">{{ item_form.DELETE }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="no-right-border">
                                <button type="button" class="btn btn-outline-info" id="add_item_formset">
                                    Kolejna pozycja
                                </button>
                            </td>      
                            <td colspan="1" class="no-left-border no-right-border no-top-border">
                                <span style="float:right">Razem:</span>
                            </td>
                            <td colspan="2" id="invoice-total" class="no-left-border no-top-border">
                            </td>                      
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="card-deck text-center">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Akcje</h5>
                <button class="btn btn-outline-primary btn-lg" type="submit" id="generate_pdf"><i class="fas fa-print"></i> Zapisz i drukuj</button>
                <button class="btn btn-outline-primary btn-lg" type="submit"><i class="far fa-save"></i> Zapisz</button>
                {% if object.pk %}
                    <a class="btn btn-outline-dark btn-lg" href="{% url 'commission:commission_detail' object|slugify object.pk %}">Powrót</a>
                {% else %}
                    <a class="btn btn-outline-dark btn-lg" href="{% url 'commission:commissions' %}">Powrót</a>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/commission/commission-form.js' %}"></script>
<script src="{% static 'js/invoicing/contractor-gus-allinfo.js' %}"></script>
<script src="{% static 'js/base/custom-file.js' %}"></script>
{% endblock %}
