<h6>Uwzględnij w fakturze:</h6>
{% if commission.vehicle %}
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="checkVehicle" checked name="desc" value="{{ commission.vehicle }}">
        <label class="form-check-label" for="checkVehicle">Dane pojazdu - {{ commission.vehicle }}</label>
    </div>
{% elif commission.component %}
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="checkComponent" checked name="desc" value="{{ commission.component }}">
            <label class="form-check-label" for="checkComponent">Dane podzespołu - {{ commission.component }}</label>
        </div>
{% else %}
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="checkName" checked name="desc" value="{{ commission.vc_name }}">
        <label class="form-check-label" for="checkName">Pojazd/podzespół - {{ commission.vc_name }}</label>
    </div>
{% endif %}
<hr>
<div class="form-group">
    <select class="form-control" id="invoice_type" name="invoice_type">
        {% for key, value in types.items %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group form-check" id="commission_done"{% if commission.status == commission.DONE %} style="display: none;"{% endif %}>
    <input type="checkbox" class="form-check-input" id="checkCommissionDone" checked value="{{ commission.DONE }}" name="done">
    <label class="form-check-label" for="checkCommissionDone">Zamknij zlecenie</label>
</div>
