h1 {
	font-size: 36px;
	line-height: 40px;
	margin: 0 0 .6em 0;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.4);
	position: relative;
    color: #33495C;
    padding-bottom: 5px;
    border-bottom-color: #33495C;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h2:not(.swal2-title) {
	margin: 1em 0 .6em 0;
	color: #33495C;
	position: relative;
	font-size: 24px;
	line-height: 40px;
	width: 50%;
	border-bottom-color: #33495C;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h3 {
	margin: 1em 0 .6em 0;
	color:#33495C;
	position: relative;
	font-size: 20px;
	line-height: 40px;
}

h4 { 
	margin: 1em 0 .6em 0;
	color: #33495C;
	position: relative;
	font-size: 16px;
	line-height: 20px;
}

h5 { 
	color: #33495C;
}

h6 { 
	color: #33495C;
}

.filter-card h2 {
	margin: 0;
	border: 0;
	font-size: 20px;
	line-height: 20px;
}

h3.modal-title {
	margin: 0;
}

.modal-body h4 {
	margin: 0 0 .6em 0;
}

@media screen and (max-width: 992px) {
	h2:not(.swal2-title) {
		width: 100%;
	}
}
