ul.sidenav {
  list-style-type: none;
  margin: 0;
  margin-top: 48px;
  padding: 0;
  width: 200px;
  background-color: #191c21;
  color: #abb;
  position: fixed;
  z-index: 998;
  height: 100%;
  overflow: auto;
}

.spacer
{
  width: 100%;
  height: 30px;
}


ul.sidenav li a {
  display: block;
  color: #abb;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: solid 1px rgb(85, 85, 85);
  min-width: 200px;
}

ul.sidenav li a span {
  margin-right: 10px;
}

ul.sidenav li a.active {
  color: #3E77AD;
}

ul.sidenav li a:hover:not(.active) {
  color: white;
}

ul.sidenav li i {
  display: block;
  color: #abb;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: solid 1px rgb(85, 85, 85);
  background-color: #0e1013;
  font-style: normal;
  cursor: pointer;
  min-width: 200px;
}

ul.sidenav li i span{
  float: right;
  padding-top: 3px;
}

ul.sidenav li i:hover {
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

div.content-full {
  margin-left: 0% !important;
}

@media screen and (max-width: 992px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav .collapse {
        display: block;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
        border-right: solid 1px rgb(85, 85, 85);
        border-bottom: none;
    }
    ul.sidenav li i {
        display: none;
        float: left;
        padding: 15px;
        border-right: solid 1px rgb(85, 85, 85);
        border-bottom: none;
    }
    div.content {margin-left: 0;}
    .spacer {
      height: 0px;
    }

}

@media screen and (max-width: 768px) {
  ul.sidenav li a {
      text-align: center;
      float: none;
      border-bottom: solid 1px rgb(85, 85, 85);
  }

  ul.topnav .motto {
    display: none;
  }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00a0df;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

ul.topnav li {
  float: left;
}

ul.topnav li span {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: italic;
}

ul.topnav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav .active {
  font-weight: bold;
}
