body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding-bottom: 50px;
    font-size: 14px;
}
i {
    font-style: inherit;
}
span.required { 
    color: red;
    font-weight: bold;
}
.filter-card .card-header{
    cursor: pointer;
}
.affix + .container-fluid {
    padding-top: 50px;
}
.detail-label {
	font-weight: bold;
}
.invalid-feedback {
    display: block;
}
.card-body .btn {
    margin: 2px 0px;
}
#alert-box {
    z-index: 99999;
    position: fixed;
    top: 60px;
    right: 15px;
    width: 400px;
    font-size: 13px;
}
#alert-box .alert {
    margin-bottom: 0.5rem;
    cursor: pointer;
}
/*
    MISC
*/

.no-left-border {
    border-left: none !important;
}
.no-right-border {
    border-right: none !important;
}
.no-top-border {
    border-top: none !important;
}
.no-bottom-border {
    border-bottom: none !important;
}
.margin-tb-20 {
    margin: 20px 0;
}
.left-line {
    border-left: 1px dotted #dbd8cf;
}

.right-line {
    border-right: 1px dotted #dbd8cf;
}

/*
    TABLES
*/

.table > tbody > tr > td {
    vertical-align: middle;
}
.table > tfoot > tr > td {
    vertical-align: middle;
    font-weight: bold;
}
.table .form-group {
    margin-bottom: 0;
}
.btn-table {
    width:100%;
    margin: 2px 0px;
}
.pagination .cardinality {
	padding: 0 10px;
	display:inline-block;
	padding-top: 7px;
}
.pagination .next {
	float: right;
}
.table > thead > tr > th.asc > a {
    margin-right: 8px;
}
.table > thead > tr > th.desc > a {
    margin-right: 8px;
}
.table > thead > tr > th.asc::after {
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: "\f0d8";
    margin-left: 8px;
}
.table > thead > tr > th.desc::after {
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: "\f0d7";
    margin-left: 8px;
}

/* 
    SELECT2
*/

.select2-selection.select2-selection--single {
	height: 38px;
    padding: .375rem .25rem;
	font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.select2-selection__clear {
    margin-left: 5px;
}
.select2-container {
    width: 100% !important;
    min-width: 0px !important;
}
.select2-results__option {
    color: black;
}
.select2-container--default .select2-selection--single[ aria-expanded = true ],
.select2-dropdown  {
    border-color: #80bdff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #80bdff !important;
    outline: 0;
    border-radius: .25rem;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
.select2-search--dropdown {
    margin: 4px;
}
.is-invalid ~ .select2-container .selection .select2-selection--single {
    border: 1px solid #dc3545 !important;
}
.is-valid ~ .select2-container .selection .select2-selection--single {
    border: 1px solid #28a745 !important;
}

/* 
    STATS
*/
.metrics-card .card-body {
    display: flex;
}
.metrics-number {
    font-size: 1.25rem;
    font-weight: bold;
}
.metrics-data {
    margin-left: 1rem;   
}
.chart-div, .metrics-card, .price-change-card {
    margin-bottom: 1rem;
}