body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding-bottom: 50px;
    font-size: 14px;
    color: #343a40;
}
.container-fluid {
    margin-top: 49px;
}

div.content {
    margin-left: 200px;
    padding: 16px 16px;
}

div.content-full {
    margin-left: 0% !important;
}

@media screen and (max-width: 1240px) {
    .pretty-select.btn-group {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .pretty-select.btn-group > .btn {
        width: 100%;
    }
    .pretty-select.btn-group > .pretty-select.btn-group:not(:first-child),
    .pretty-select.btn-group > .btn:not(:first-child) {
        margin-top: -1px;
    }
    .pretty-select.btn-group > .btn:not(:first-child) {
        margin-left: 0;
    }
    .pretty-select.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .pretty-select.btn-group > .btn:not(:first-child):not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .pretty-select.btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    .pretty-select.form-control {
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .container-fluid {
        padding: 4px;
    }
    .menu-shown > .container-fluid {
        margin: 0;
    }
}

#status-select.btn-group {
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 0;
    }

    #status-select.btn-group {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #status-select.btn-group > .btn {
        width: 100%;
    }
    #status-select.btn-group > #status-select.btn-group:not(:first-child),
    #status-select.btn-group > .btn:not(:first-child) {
        margin-top: -1px;
    }
    #status-select.btn-group > .btn:not(:first-child) {
        margin-left: 0;
    }
    #status-select.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    #status-select.btn-group > .btn:not(:first-child):not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #status-select.btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

i {
    font-style: inherit;
}
span.required {
    color: red;
    font-weight: bold;
}
.filter-card .card-header {
    cursor: pointer;
}
.affix + .container-fluid {
    padding-top: 50px;
}
.detail-label {
    font-weight: bold;
}
.invalid-feedback {
    display: block;
}
.card-body .btn {
    margin: 2px 0px;
}

.date-input.form-control[readonly],
.date-range-input.form-control[readonly] {
    background-color: #fff;
}

.date-range-input.form-control:disabled {
    background-color: #e9ecef;
}

.date-input.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.date-inline {
    display: none;
}
.date-inline-container .daterangepicker::before,
.date-inline-container .daterangepicker::after {
    display: none;
}

.date-inline-container .daterangepicker {
    position: initial !important;
    top: auto !important;
    left: auto !important;
    float: left;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 1010px;
    min-width: 240px;
}

.date-inline-container .daterangepicker .drp-calendar,
.date-inline-container .daterangepicker .drp-calendar .calendar-table {
    width: 100%;
    max-width: 1000px;
    min-width: 230px;
    z-index: 0;
}

#id_ptu_value {
    width: 100%;
    max-width: 1000px;
    min-width: 240px;
}

.ptu-date-row {
    cursor: pointer;
}

.simple-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-tabs {
    margin-bottom: 1rem;
}

.filter-tabs a {
    cursor: pointer;
    color: #007bff !important;
}

.pretty-select {
    width: 100%;
}

.pretty-select.form-control {
    padding: 0;
    border: none;
}

.pretty-select.is-invalid > label.btn {
    border-color: #dc3545;
    color: #dc3545;
}

.pretty-select.is-invalid > label.btn.active,
.pretty-select.is-invalid > label.btn:hover {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}

.pretty-select.is-invalid > label.btn.focus,
.pretty-select.is-invalid > label.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

#invoice-select,
#commission-select {
    display: none;
    margin-top: 1rem;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 64, 133, 0.4);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 64, 133, 0);
    }
}

.detail-description-alert {
    animation: shadow-pulse 1s 10;
}

.detail-description {
    display: flex;
    align-items: center;
}

.detail-description > p {
    margin-bottom: 0;
    margin-left: 1rem;
}

.detail-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-control.is-warning {
    border-color: #ffc107;
}

.form-control.is-warning:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

.warning-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #ffc107;
}

.is-warning ~ .select2-container .selection .select2-selection--single {
    border: 1px solid #ffc107 !important;
}

.notes .close {
    font-size: 1rem;
}

.notes .not-active {
    color: #6c757d;
    text-decoration: line-through;
}

.notes ul {
    max-height: 700px;
    overflow: auto;
}

.notes li.empty-notes:not(:first-child) {
    display: none !important;
}

/*
    MISC
*/

.no-left-border {
    border-left: none !important;
}
.no-right-border {
    border-right: none !important;
}
.no-top-border {
    border-top: none !important;
}
.no-bottom-border {
    border-bottom: none !important;
}
.margin-tb-20 {
    margin: 20px 0;
}
.left-line {
    border-left: 1px dotted #dbd8cf;
}

.right-line {
    border-right: 1px dotted #dbd8cf;
}

small#gus-data {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    float: right;
    cursor: pointer;
}

small#gus-data:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/*
    TABLES
*/

.table > tbody > tr > td,
.table > tbody > tr > th {
    vertical-align: middle;
}
.table > tfoot > tr > td {
    vertical-align: middle;
    font-weight: bold;
}
.table > tbody > tr > td > p {
    margin-bottom: 0;
}
.table .form-group {
    margin-bottom: 0;
}
.btn-table {
    width: 100%;
    margin: 2px 0px;
}
.pagination .cardinality {
    padding: 0 10px;
    display: inline-block;
    padding-top: 3px;
}
.pagination .next {
    float: right;
}
.table > thead > tr > th.asc::after {
    margin-left: 8px;
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
}
.table > thead > tr > th.desc::after {
    margin-left: 8px;
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
}

.pagination .cardinality div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pagination .cardinality div input {
    width: 60px;
    margin: 0 10px;
}

.table span.true:after {
    font-size: 2rem;
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    color: #28a745;
}

.table span.false:after {
    font-size: 2rem;
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    color: #dc3545;
}

.table-legend {
    display: flex;
    justify-content: center;
}

.table-legend .alert:not(:first-child) {
    margin-left: 1rem;
}

/* 
    SELECT2
*/

.select2-selection.select2-selection--single {
    height: 38px;
    padding: 0.375rem 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.select2-selection__clear {
    margin-left: 5px;
}

.select2.select2-container {
    width: 100% !important;
    min-width: 0px !important;
}
.select2-results__option {
    color: black;
}
.select2-container--default .select2-selection--single[aria-expanded="true"],
.select2-dropdown {
    border-color: #80bdff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #80bdff !important;
    outline: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.select2-search--dropdown {
    margin: 4px;
}
.is-invalid ~ .select2-container .selection .select2-selection--single {
    border: 1px solid #dc3545 !important;
}
.is-valid ~ .select2-container .selection .select2-selection--single {
    border: 1px solid #28a745 !important;
}

.dal-create {
    font-weight: bold;
}
.dal-create::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0fe";
    margin-right: 8px;
}

/* 
    STATS
*/

.metrics-card .card-body {
    display: flex;
}
.metrics-number {
    font-size: 1.25rem;
    font-weight: bold;
}
.metrics-data {
    margin-left: 1rem;
}
.chart-card,
.metrics-card,
.price-change-card,
.due-payment-card,
.all-metrics-card {
    margin-bottom: 1rem;
}
#stats-tab-content {
    padding-top: 1rem;
}

/* 
    JQUERY AUTOCOMPLETE
*/

.autocomplete-suggestions {
    border: 1px solid #80bdff;
    border-top: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #fff;
    overflow: auto;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    font-weight: bold;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* 
    Files
*/

ul#previous-file-list > li > i.delete-previous-file,
ul#file-list > li > i.delete-file,
.unassign-invoice {
    color: red;
    cursor: pointer;
}

.custom-file.is-dragover .custom-file-label {
    background-color: #c3e6cb;
    border: 1px solid #155724;
}

.custom-file .progress {
    margin-top: 1rem;
    display: none;
}

#file-data .card-body {
    display: flex;
    align-items: center;
}

#file-data .card-body i {
    color: #007bff;
}

#file-data .card-body > div {
    width: 100%;
    margin-left: 1rem;
}

/*
    SIDEBAR
*/

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #191c21;
    color: #abb;
    position: fixed;
    z-index: 998;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #abb;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: solid 1px rgb(85, 85, 85);
    min-width: 200px;
}

ul.sidenav li a span {
    margin-right: 10px;
    width: 14px;
    text-align: center;
}

ul.sidenav li a.active {
    color: #3e77ad;
}

ul.sidenav li a:hover:not(.active) {
    color: white;
}

ul.sidenav li i {
    display: block;
    color: #abb;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: solid 1px rgb(85, 85, 85);
    background-color: #0e1013;
    font-style: normal;
    cursor: pointer;
    min-width: 200px;
}

ul.sidenav li i span {
    float: right;
    padding-top: 3px;
}

ul.sidenav li i:hover {
    color: white;
}

#toggleMenu {
    display: none;
}

@media screen and (max-width: 992px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
        display: none;
        margin-top: 49px;
    }
    #toggleMenu {
        display: block;
    }
    ul.sidenav .collapse {
        display: block;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
        border-right: solid 1px rgb(85, 85, 85);
        border-bottom: none;
    }
    ul.sidenav li i {
        display: none;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
        border-bottom: solid 1px rgb(85, 85, 85);
    }
}

/*
    TOPBAR
*/

#topbar {
    display: flex;
    justify-content: space-between;
    background-color: #00a0df;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 49px;
    color: #fff;
}

#topbar-left,
#topbar-middle,
#topbar-right,
#topbar-right-main {
    display: flex;
}

#topbar-right > div,
#topbar-left > div {
    color: #fff;
}

#topbar-right a,
#topbar-left a {
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
}

#topbar-left a {
    font-weight: bold;
    white-space: nowrap;
}

#topbar-left span {
    display: block;
    padding: 14px 16px;
}

#topbar-left .debug-info {
    background-color: red;
}

#topbar-right button,
#topbar-middle button {
    background-color: transparent;
    border: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 14px 16px;
}

#topbar-middle button {
    padding-right: 0;
}

#topbar .motto {
    font-style: italic;
    white-space: nowrap;
}

#topbar-middle {
    background-color: #008bc2;
}

#topbar #inline-search-form {
    display: flex;
    align-items: center;
}

#topbar #inline-search-form input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
}

#topbar #inline-search-form input::placeholder {
    color: #ddd;
}

@media screen and (max-width: 992px) {
    #topbar .motto {
        display: none;
    }
    #topbar-right button > span {
        display: none;
    }
}

@media screen and (max-width: 555px) {
    #topbar #inline-search-form input {
        display: none;
    }
    #topbar-middle {
        background-color: transparent;
        border-right: 1px dotted #dbd8cf;
    }
    #topbar {
        justify-content: flex-end;
    }
    #topbar-left {
        margin-right: auto;
    }
    #topbar-middle button {
        padding-right: 16px;
    }
}

/* 
    SEARCH
*/

.highlighted {
    font-weight: bold;
    /*background-color: yellow;*/
}

#search-models > #id_models {
    display: none;
}

#search-models > .choices-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#search-models .model-choice {
    opacity: 0.5;
    cursor: pointer;
    width: 120px;
    margin-top: 1rem;
    text-align: center;
}

#search-models .model-choice:hover {
    opacity: 0.75;
}

#search-models .model-choice.active {
    opacity: 1;
}

#search-models p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.search-result {
    display: flex;
    align-items: center;
}

.search-result .result-detail {
    margin-left: 1rem;
}

#search-query {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

#search-query input {
    width: auto;
    max-width: 100%;
    flex-grow: 1;
    margin-top: 1rem;
}

#search-query button {
    display: flex;
    align-items: baseline;
    margin-left: 1rem;
    margin-top: 1rem;
}

#search-query button i {
    margin-right: 0.5rem;
}

/*
    TOGGLE SWITCH
*/
.toggle-switch {
    position: relative;
    display: flex;
    height: 34px;
    width: auto;
    align-items: center;
    cursor: pointer;
}

.swal2-content .toggle-switch {
    display: inline-flex;
}

.toggle-switch :last-child:not(.slider) {
    margin-left: 64px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    width: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00a0df;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00a0df;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*
    CHANELOG
*/

#changelog h2 {
    margin: 1rem 0 0.6rem 0 !important;
}

#changelog ul {
    margin: 0 0 0 2rem !important;
    padding: 0;
}

#changelog p {
    margin: 0 0 0 1rem !important;
}
