{% extends "settings/settings.html" %}
{% block settings_form %}      
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            {% include 'forms/form.html' with form=form two_columns=True %}
        </div>
    
        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Akcje</h5>
                    <button class="btn btn-outline-primary btn-lg" type="submit"><i class="far fa-save"></i> Zapisz</button>
                    <button class="btn btn-outline-success btn-lg disabled" type="button" id="authorize" data-url="{% url 'settings:get_auth_url' %}"><i class="fas fa-sign-in-alt"></i> Autoryzuj połączenie</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        const url = new URL(window.location.href);
        const code = url.searchParams.get("code");
        if (code !== null) {
            Swal.fire({
                title: 'Trwa inicjalizacja usługi.',
                text: 'Może to potrwać kilka sekund.',
                html: '<i class="fas fa-spinner fa-spin fa-8x" style="margin: 26px;color: #00a0df;"></i>',
                showConfirmButton: false
            })
            $.ajax({
                url: $('#authorize').data('authorize-url'),
                type: 'POST',
                data: {
                    code: code,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data) {
                    window.location.href = window.location.href.split("?")[0];
                },
                error: function(data) {
                    addAlert('Błąd!', 'error', data.responseJSON.message + '.');
                }
            });
        }

        $('#nav-settings-mycloud').addClass('active');
        if ($('#id_APP_DIR_NAME').val() !== '' && $('#id_COMMISSION_DIR_NAME').val() !== '' && $('#id_WD_CLIENT_ID').val() !== '' && $('#id_WD_CLIENT_SECRET').val() !== '') {
            $('#authorize').removeClass('disabled');
        }
        $('#authorize').on('click', function () {
            Swal.fire({
                title: 'Trwa generowanie linku autoryzacyjnego.',
                text: 'Może to potrwać kilka sekund.',
                html: '<i class="fas fa-spinner fa-spin fa-8x" style="margin: 26px;color: #00a0df;"></i>',
                showConfirmButton: false
            })
            $.ajax({
                url: $('#authorize').data('url'),
                type: 'GET',
                success: function(data) {
                    window.location.href = data.url;
                },
                error: function(data) {
                    addAlert('Błąd!', 'error', data.responseJSON.message + '.');
                }
            });
        })
    });
</script>
{% endblock %}
