{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <form id="login-form" action="{% url 'login' %}?next={{ request.GET.next }}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}            
        <h1>Zaloguj się</h1>

        {{ form.token }}

        {% if form.errors.token.0 == 'token_required' %}
            <input type="hidden" id="show-token-prompt">
        {% endif %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form.visible_fields %}
            {% if not exclude or field.name not in exclude %}
                {% include 'forms/field.html' with field=field %}
            {% endif %}
        {% endfor %}

        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Akcje</h5>
                    <button class="btn btn-outline-primary btn-lg" type="submit"><i class="far fa-save"></i> Zaloguj się</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $('#id_token').val('');
        if ($('#show-token-prompt').length > 0) {
            Swal.fire({
                title: "Podaj token otrzymany w wiadomości email.",
                type: "info",
                input: 'text',
                showCancelButton: false,
                focusConfirm: true,
                confirmButtonText: 'Zaloguj',
            }).then((token) => {
                if (token.value) {
                    $('#id_token').val(token.value);
                    $('#login-form').submit();
                }
            });
        }
    });
</script>
{% endblock %}
