{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1>Szczegóły faktury sprzedażowej</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Rodzaj faktury</td>
                <td>{{ object.get_invoice_type_display }}</td>
            </tr>
            <tr>
                <td class="detail-label">Numer faktury</td>
                <td>{{ object.number }}</td>
            </tr>
            <tr>
                <td class="detail-label">Kontrahent</td>
                <td><a href="{% url 'invoicing:contractor_detail' object.contractor.pk %}">{{ object.contractor }}</a></td>
            </tr>
            <tr>
                <td class="detail-label">Data wystawienia</td>
                <td>{{ object.issue_date }}</td>
            </tr>
            <tr>
                <td class="detail-label">Data wykonania</td>
                <td>{{ object.completion_date }}</td>
            </tr>
            <tr>
                <td class="detail-label">Rodzaj płatności</td>
                <td>{{ object.get_payment_type_display }}</td>
            </tr>
            <tr>
                <td class="detail-label">Termin płatności</td>
                <td>{{ object.payment_date|default:"zapłacono" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Łączna wartość netto</td>
                <td>{{ object.total_value_netto|floatformat:2 }} zł</td>
            </tr>            
            <tr>
                <td class="detail-label">Łączna wartość brutto</td>
                <td>{{ object.total_value_brutto|floatformat:2 }} zł</td>
            </tr>
            <tr>
                <td class="detail-label">Procent podatku VAT</td>
                <td>{{ object.tax_percent|floatformat:0 }}%</td>
            </tr>
            <tr>
                <td class="detail-label">Uwagi</td>
                <td>{{ object.comment|default:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Czynnik R134a</td>
                <td>{{ object.refrigerantweights.r134a }} g</td>
            </tr>
            <tr>
                <td class="detail-label">Czynnik R1234yf</td>
                <td>{{ object.refrigerantweights.r1234yf }} g</td>
            </tr>
            <tr>
                <td class="detail-label">Czynnik R12</td>
                <td>{{ object.refrigerantweights.r12 }} g</td>
            </tr>
            <tr>
                <td class="detail-label">Czynnik R404</td>
                <td>{{ object.refrigerantweights.r404 }} g</td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Akcje</h5>
                    <button id="print-btn" class="btn btn-outline-primary btn-lg" data-url="{% url 'invoicing:sale_invoice_print_pdf' object.pk %}"><i class="fas fa-print"></i> Drukuj</button>
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'invoicing:sale_invoice_pdf' object.pk %}"><i class="far fa-file-pdf"></i> PDF</a>
                    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#email_modal"><i class="far fa-envelope"></i> E-mail</button>
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'invoicing:sale_invoice_update' object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    <a class="btn btn-outline-dark btn-lg" href="{{ back_url }}">Powrót</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h4>Pozycje faktury</h4>
</div>
{% render_table table "tables2/table.html" %}

<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="email_form" onsubmit="submitEmailForm('{{ email_url }}'); return false;">
                <div class="modal-header">
                    <h5 class="modal-title">Wyślij E-fakturę</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=email_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-outline-primary">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/invoicing/sale_invoice_detail.js' %}"></script>
{% endblock %}
