{% extends "base.html" %}
{% load static slugify %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1 class="detail-header">Szczegóły faktury sprzedażowej <a class="btn btn-outline-dark" href="{{ back_url }}">Powrót</a></h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Rodzaj faktury</td>
                <td>{{ object.get_invoice_type_display }}</td>
            </tr>
            <tr>
                <td class="detail-label">Numer faktury</td>
                <td>{{ object.number }}</td>
            </tr>
            {% if object.correctivesaleinvoice %}
                <tr>
                    <td class="detail-label">Korekta do</td>
                    <td><a href="{% url 'invoicing:sale_invoice_detail' object.correctivesaleinvoice.original_invoice|slugify object.correctivesaleinvoice.original_invoice.pk %}">{{ object.correctivesaleinvoice.original_invoice }}</a></td>
                </tr>
                <tr>
                    <td class="detail-label">Powód wystawienia korekty</td>
                    <td>{{ object.correctivesaleinvoice.reason|linebreaks }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="detail-label">Zlecenia</td>
                <td>
                    <ul class="simple-list" id="commission-list">
                        {% if object.commission_set.all.exists %}
                            {% for commission in object.commission_set.all %}
                                <li>
                                    <a href="{% url 'commission:commission_detail' commission|slugify commission.pk %}">{{ commission }}</a> <i class="fa fa-times unassign-invoice" data-name="{{ commission }}" data-pk="{{ commission.pk }}" title="Odłącz zlecenie"></i>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="li-none">—</li>
                        {% endif %}
                    </ul>
                    <hr>
                    <div class="detail-footer">
                        <button class="btn btn-outline-success" id="assign_commission"><i class="fa fa-tasks"></i> Przypisz istniejące zlecenie</button>

                        <div id="commission-select" data-invoice="{{ object.pk }}" data-assign-url="{% url 'commission:assign_invoice' %}" data-unassign-url="{% url 'commission:unassign_invoice' %}">
                            <select name="commission" data-placeholder="Podaj numer lub nazwę zlecenia" class="form-control" id="id_commission" data-autocomplete-light-language="pl" data-autocomplete-light-url="{% url 'commission:commission_autocomplete' %}" data-autocomplete-light-function="select2">
                                <option value="" selected>---------</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="detail-label">Data wystawienia</td>
                <td>{{ object.issue_date }}</td>
            </tr>
            <tr>
                <td class="detail-label">Data wykonania</td>
                <td>{{ object.completion_date }}</td>
            </tr>
            <tr>
                <td class="detail-label">Forma płatności</td>
                <td>{{ object.get_payment_type_display }}{% if object.payment_type is object.OTHER %}: {{ object.payment_type_other }}{% endif %}</td>
            </tr>
            <tr>
                <td class="detail-label">Termin płatności</td>
                <td>{{ object.payment_date|default:"zapłacono" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Łączna wartość netto</td>
                <td>{{ object.total_value_netto|floatformat:2 }} zł</td>
            </tr>            
            <tr>
                <td class="detail-label">Łączna wartość brutto</td>
                <td>{{ object.total_value_brutto|floatformat:2 }} zł</td>
            </tr>
            <tr>
                <td class="detail-label">Procent podatku VAT</td>
                <td>{{ object.tax_percent|floatformat:0 }}%</td>
            </tr>
            <tr>
                <td class="detail-label">Uwagi</td>
                <td>{{ object.comment|default:"—"|linebreaks }}</td>
            </tr>
            {% if not object.correctivesaleinvoice %}
                <tr>
                    <td class="detail-label">Czynnik R134a</td>
                    <td>{{ object.refrigerantweights.r134a }} g</td>
                </tr>
                <tr>
                    <td class="detail-label">Czynnik R1234yf</td>
                    <td>{{ object.refrigerantweights.r1234yf }} g</td>
                </tr>
                <tr>
                    <td class="detail-label">Czynnik R12</td>
                    <td>{{ object.refrigerantweights.r12 }} g</td>
                </tr>
                <tr>
                    <td class="detail-label">Czynnik R404</td>
                    <td>{{ object.refrigerantweights.r404 }} g</td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div class="col-xs-12 col-lg-4">
        {% if object.corrected_invoice %}
            <div class="alert alert-primary" role="alert">
                Faktura została skorygowana: <a href="{% url 'invoicing:sale_invoice_detail' object.corrected_invoice|slugify object.corrected_invoice.pk %}">Korekta {{ object.corrected_invoice }}</a>
            </div>
        {% endif %}
        <div class="card-deck text-center mb-4">
            <div class="card bg-light">
                <h5 class="card-header">
                    Akcje
                </h5>
                <div class="card-body">
                    <button id="print-btn" class="btn btn-outline-primary btn-lg" data-url="{% url 'invoicing:sale_invoice_print_pdf' object|slugify object.pk %}"><i class="fas fa-print"></i> Drukuj</button>
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'invoicing:sale_invoice_pdf' object|slugify object.pk %}"><i class="far fa-file-pdf"></i> PDF</a>
                    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#email_modal"><i class="far fa-envelope"></i> E-mail</button>
                    {% if object.is_editable or request.user.is_staff %}
                        <a class="btn btn-outline-warning btn-lg" href="{% url 'invoicing:sale_invoice_update' object|slugify object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    {% endif %}
                    {% if not object.corrected_invoice and not object.correctivesaleinvoice %}
                        <a class="btn btn-outline-info btn-lg" href="{% url 'invoicing:sale_invoice_create_corrective' object|slugify object.pk %}" title="Korekta">Korekta</a>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:invoicing_saleinvoice_change' object.pk %}"><i class="fas fa-toolbox"></i> Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'invoicing/contractor/contractor_card.html' with contractor=object.contractor_json contractor_object=object.contractor %}
        {% include 'annotations/annotations_card.html' with object=object app_name="invoicing" model_name="saleinvoice" %}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Pozycje faktury</h2>
        {% render_table table %}
    </div>
</div>

<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="email_form" onsubmit="submitEmailForm('{{ email_url }}'); return false;">
                <div class="modal-header">
                    <h5 class="modal-title">Wyślij E-fakturę</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=email_form hide_alert=True %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-outline-primary"><i class="far fa-paper-plane"></i> Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/invoicing/sale_invoice_detail.js' %}"></script>
<script src="{% static 'js/annotations/annotations_card.js' %}"></script>
{% endblock %}
