{% extends "base.html" %}
{% load render_table export_url from django_tables2 %}

{% block content %}
<div>
    <h1>Faktury sprzedażowe</h1>
</div>

{% include "filter_panel.html" %}

<div class="card-deck margin-tb-20 text-center">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Dodaj nową fakturę</h5>
            <a class="btn btn-outline-success btn-lg" href="{% url 'invoicing:sale_invoice_create' 1 %}"><i class="far fa-plus-square"></i> Faktura VAT</a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'invoicing:sale_invoice_create' 2 %}"><i class="far fa-plus-square"></i> Pro forma</a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'invoicing:sale_invoice_create' 4 %}"><i class="far fa-plus-square"></i> WDT</a>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Eksport faktur</h5>
            <a class="btn btn-outline-info btn-lg" href="{% url 'invoicing:export_refrigerant_weights' %}"><i class="far fa-file-excel"></i> Sprzedaż czynników</a>
            <button class="btn btn-outline-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="far fa-file-archive"></i> Eksport
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% export_url 'xlsx' %}">.xlsx</a>
                <a class="dropdown-item" href="{% export_url 'xls' %}">.xls</a>
                <a class="dropdown-item" href="{% export_url 'csv' %}">.csv</a>
                <a class="dropdown-item" href="{% export_url 'json' %}">.json</a>
                <a class="dropdown-item" href="{% export_url 'ods' %}">.ods</a>
                <a class="dropdown-item" href="{% export_url 'latex' %}">.latex</a>
                <a class="dropdown-item" href="{% export_url 'tsv' %}">.tsv</a>
            </div>
        </div>
    </div>
</div>

{% render_table table "tables2/table.html" %}

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-saleinvoices').children(':first').addClass('active');
        $('.sidenav #nav-invoicing').collapse('show');
    });
</script>
{% endblock %}
