{% extends "base.html" %}
{% load render_table export_url from django_tables2 %}

{% block content %}
<div>
    <h1>Faktury sprzedażowe</h1>
</div>

{% include "filter_panel.html" %}

<div class="card-deck margin-tb-20 text-center">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Dodaj nową fakturę</h5>
            <a class="btn btn-outline-success btn-lg" href="{% url 'invoicing:sale_invoice_create' 'faktura-vat' 1 %}"><i class="far fa-plus-square"></i> Faktura VAT</a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'invoicing:sale_invoice_create' 'pro-forma' 2 %}"><i class="far fa-plus-square"></i> Pro forma</a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'invoicing:sale_invoice_create' 'wdt' 4 %}"><i class="far fa-plus-square"></i> WDT</a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'invoicing:sale_invoice_create' 'pro-forma-wdt' 5 %}"><i class="far fa-plus-square"></i> Pro forma WDT</a>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Eksport faktur</h5>
            <a class="btn btn-outline-info btn-lg" href="{% url 'invoicing:export_refrigerant_weights' %}"><i class="far fa-file-excel"></i> Sprzedaż czynników</a>
            <button class="btn btn-outline-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="far fa-file-archive"></i> Eksport
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% export_url 'xlsx' %}">.xlsx</a>
                <a class="dropdown-item" href="{% export_url 'xls' %}">.xls</a>
                <a class="dropdown-item" href="{% export_url 'csv' %}">.csv</a>
                <a class="dropdown-item" href="{% export_url 'json' %}">.json</a>
                <a class="dropdown-item" href="{% export_url 'ods' %}">.ods</a>
                <a class="dropdown-item" href="{% export_url 'latex' %}">.latex</a>
                <a class="dropdown-item" href="{% export_url 'tsv' %}">.tsv</a>
            </div>
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs filter-tabs" id="nav-tab" role="tablist">
        {% for type in invoice_type_data %}
            <a class="nav-item nav-link {% if type.0 == current_tab_filter %}active{% endif %}" id="nav-{{ type.0 }}-tab" data-filter="id_invoice_type" data-value="{{ type.0 }}" data-toggle="tab" role="tab" aria-controls="nav-{{ type.0 }}" aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">{{ type.1 }} <span class="badge badge-primary"><i class="fas fa-spinner fa-spin"></i></span></a>
        {% endfor %}
    </div>
</nav>
{% render_table table %}

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-saleinvoices').children(':first').addClass('active');
        $('.sidenav #nav-invoicing').collapse('show');
    });
</script>
{% endblock %}
