{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Wyszukiwanie</h1>

    <form id="search-form" method="get" action="">
        <div class="row">
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
          
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-deck text-center">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="form-group" id="search-models">
                        {{ form.models }}
                        <div class="choices-container">
                            <div class="model-choice" data-choice="__ALL__">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#0e1013"></i>
                                    <i class="fa-inverse fas fa-search fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Wszystko</p>
                            </div>
                            <div class="model-choice" data-choice="warehouse.ware">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#FF3516"></i>
                                    <i class="fa-inverse fas fa-tags fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Towary</p>
                            </div>
                            <div class="model-choice" data-choice="invoicing.contractor">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#00A0DF"></i>
                                    <i class="fa-inverse fas fa-users fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Kontrahenci</p>
                            </div>
                            <div class="model-choice" data-choice="warehouse.supplier">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#C1456E"></i>
                                    <i class="fa-inverse fas fa-truck fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Dostawcy</p>
                            </div>
                            <div class="model-choice" data-choice="commission.vehicle">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#F09300"></i>
                                    <i class="fa-inverse fas fa-car fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Pojazdy</p>
                            </div>
                            <div class="model-choice" data-choice="commission.component">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#13BB72"></i>
                                    <i class="fa-inverse fa fa-microchip fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Podzespoły</p>
                            </div>
                            <div class="model-choice" data-choice="warehouse.invoice">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#8355C5"></i>
                                    <i class="fa-inverse fas fa-file-alt fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Faktury zakupowe</p>
                            </div>
                            <div class="model-choice" data-choice="invoicing.saleinvoice">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#89D23A"></i>
                                    <i class="fa-inverse fas fa-book fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Faktury sprzedażowe</p>
                            </div>
                            <div class="model-choice" data-choice="commission.commission">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#427BD2"></i>
                                    <i class="fa-inverse fas fa-tasks fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Zlecenia</p>
                            </div>
                            <div class="model-choice" data-choice="wiki.article">
                                <span class="fa-stack fa-3x">
                                    <i class="fas fa-circle fa-stack-2x" style="color:#0A3200"></i>
                                    <i class="fa-inverse fas fa-book-open fa-stack-1x" data-fa-transform="shrink-8"></i>
                                </span>
                                <p>Artykuły</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="search-query">
                        <input type="search" name="q" value="{{ query }}" class="form-control form-control-lg" id="id_q" placeholder="Podaj szukaną frazę">
                        <button class="btn btn-outline-primary btn-lg" type="submit"><i class="fas fa-search"></i> Szukaj</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'search/search_results.html' %}
    </form>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/search/search.js' %}"></script>
{% endblock %}
