{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load slugify static contenttypes %}

{% block content %}
<div>
    <h1 class="detail-header">Szczegóły podzespołu <a class="btn btn-outline-dark" href="{{ back_url }}">Powrót</a></h1>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-8">
        <table class="table table-bordered">
            <tr>
                <td class="detail-label">Rodzaj</td>
                <td>{{ object.get_component_type_display }}</td>
            </tr>
            <tr>
                <td class="detail-label">Model</td>
                <td>{{ object.model|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Numer seryjny</td>
                <td>{{ object.serial_number|default_if_none:"—" }}</td>
            </tr>
            <tr>
                <td class="detail-label">Numer katalogowy</td>
                <td>{{ object.catalog_number|default_if_none:"—" }}</td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12 col-lg-4">
        <div class="card-deck text-center mb-4">
            <div class="card bg-light">
                <h5 class="card-header">
                    Akcje
                </h5>
                <div class="card-body">
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'commission:component_update' object|slugify object.pk %}"><i class="fas fa-edit"></i> Edycja</a>
                    {% if request.user.is_staff %}
                        <a class="btn btn-outline-primary btn-lg" href="{% url 'audit:object_audit_logs' object|slugify object|content_type object.pk %}"><i class="fa fa-history"></i> Audyt</a>
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:commission_component_change' object.pk %}"><i class="fas fa-toolbox"></i> Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'annotations/annotations_card.html' with object=object app_name="commission" model_name="component" %}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Zlecenia dotyczące tego podzespołu</h2>
        {% render_table table %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-components').children(':first').addClass('active');
        $('.sidenav #nav-commission').collapse('show');
    });
</script>
<script src="{% static 'js/annotations/annotations_card.js' %}"></script>
{% endblock %}
