{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1>Statystyki</h1>
</div>
<div class="row">
    {% for chart in charts %}
        <div class="col-xs-12 col-md-6" style="display:none;">
            <div class="chart-div card bg-light text-center">
                <h5 class="card-title">{{ chart.title }}</h5>
                <canvas id="chart_{{ forloop.counter }}" chart-url="{{ chart.url }}"></canvas>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-dashboard').children(':first').addClass('active');
        $("canvas[id^='chart']").each(function() {
            var parent_div = $(this).parent().parent()
            var url = $(this).attr('chart-url');
            var ctx = $(this)
            $.ajax({
                url: url,
                success: function (result) {
                    $(parent_div).show();
                    var chart = new Chart(ctx, {
                        type: result.type,
                        data: result.data,
                        options: result.options 
                    })
                }
            });
        });
    });
</script>
{% endblock %}
