{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
<div>
    <h1>Statystyki</h1>
</div>
<div class="row">
    {% for chart in charts %}
        <div class="col-xs-12 col-md-6" style="display:none;">
            <div class="chart-div card bg-light text-center">
                <h5 class="card-title">{{ chart.title }}</h5>
                <canvas id="chart_{{ forloop.counter }}" chart-url="{{ chart.url }}"></canvas>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.sidenav #nav-dashboard').children(':first').addClass('active');
    });
</script>
<script src="{% static 'js/stats/load_charts.js' %}"></script>
{% endblock %}
