{% extends "base.html" %}
{% load static access_control %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>Statystyki</h1>
<nav>
    <div class="nav nav-pills flex-column flex-sm-row nav-fill" id="nav-tab" role="tablist">
        <a class="flex-sm-fill nav-item nav-link active" id="nav-stats-purchase-tab" data-toggle="tab" href="#nav-stats-purchase" role="tab" aria-controls="nav-stats-purchase" aria-selected="true">Zakupy</a>
        <a class="flex-sm-fill nav-item nav-link" id="nav-stats-sale-tab" data-toggle="tab" href="#nav-stats-sale" role="tab" aria-controls="nav-stats-sale" aria-selected="false">Sprzedaż</a>
        {% if has_permission %}
            <a class="flex-sm-fill nav-item nav-link" id="nav-stats-summary-tab" data-toggle="tab" href="#nav-stats-summary" role="tab" aria-controls="nav-stats-summary" aria-selected="false">Podsumowanie</a>
        {% endif %}
    </div>
</nav>
<div class="tab-content" id="stats-tab-content">
    <div class="tab-pane fade show active" id="nav-stats-purchase" role="tabpanel" aria-labelledby="nav-stats-purchase-tab">
            {% include 'stats/purchase_tab.html' %}
    </div>

    <div class="tab-pane fade" id="nav-stats-sale" role="tabpanel" aria-labelledby="nav-stats-sale-tab">
        {% include 'stats/sale_tab.html' %}
    </div>

    {% if has_permission %}
        <div class="tab-pane fade" id="nav-stats-summary" role="tabpanel" aria-labelledby="nav-stats-summary-tab">
            {% include 'stats/summary_tab.html' %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/stats/dashboard.js' %}"></script>
<script src="{% static 'js/stats/load_charts.js' %}"></script>
{% endblock %}
