{% for metric in metrics %}
    <div class="col-12 col-sm-6 col-xl-4">
        <div class="metrics-card card bg-light">
            <div class="card-body">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x" style="color:{{ metric.color }}"></i>
                    <i class="fa-inverse fas {{ metric.icon }} fa-stack-1x" data-fa-transform="shrink-8"></i>
                </span>
                <div class="metrics-data">
                    <div class="metrics-number">{{ metric.value }}</div>
                    <div class="metrics-name">{{ metric.title }}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
